<li class="dropdown-grid">
    <a data-toggle="dropdown" href="javascript:void(0);" class="dropdown-toggle">
        <i class="fa fa-leaf"></i>
        <span class="reverse">{{ locale.about_menu_name }}</span>
        <span class="caret"></span>
    </a>
    <div class="dropdown-grid-wrapper">
        <ul class="dropdown-menu col-xs-12 col-sm-10 col-md-6 col-lg-6">
            <li class="col-sm-12 dropdown-header text-center">
                <h4 id="about" style="color: rgb(36, 197, 139);white-space: normal;">
                    <i class="fa fa-refresh fa-spin"></i> {{ locale.abount_title }}
                </h4>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-md-12 ">
                        <h6 style="color: #eb771a;white-space: normal;">{{ locale.abount_list_title }}</h6>
                        <ul style="position: relative; margin-left: 15px;margin-top: 10px;">
                            <li><div class="h5-about"><i class="fa fa-tags"></i> {{ locale.abount_li_1 }}</div></li>
                            <li><div class="h5-about"><i class="fa fa-tags"></i> {{ locale.abount_li_2 }}</div></li>
                            <li><div class="h5-about"><i class="fa fa-tags"></i> {{ locale.abount_li_3 }}</div></li>
                            <li><div class="h5-about"><i class="fa fa-tags"></i>  {{ locale.abount_li_4 }}<span style="color: #f2474e;margin-left: 10px;">{{ locale.soon }}</span> </div></li>
                        </ul>
                        <h3 style="margin-left: 40%">
                            <i class="fa fa-envelope"></i> {{ locale.contacts }}
                        </h3>

                    </div>
                    <form role="form" action="send_message" method="POST" id="contacts">
                        <div class="col-xs-6 col-md-6 ">
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputName" name="inputName" placeholder="{{ locale.contacts_plcaholder_name }}"/>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6 ">
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputEmail" name="inputEmail" placeholder="{{ locale.contacts_plcaholder_mail }}"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 hidden-md  hidden-sm">
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="{{ locale.contacts_plcaholder_subject }}"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 ">
                            <div class="form-group">
                                <textarea class="form-control" id="inputMessage" name="inputMessage" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-sm-offset-3 col-sm-9">
                            <button class="btn btn-default pull-right" type="button" onclick="send_mail();">
                                <i class="fa fa-chevron-circle-right"></i> {{ locale.submit }}
                            </button>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</li>