{% load static %}
<li class="dropdown-grid" id="account">
    <a data-toggle="dropdown" href="javascript:void(0);" class="dropdown-toggle">
        <i class="fa fa-lock" style="margin-right: 5px;"></i>{{ locale.account_menu_name }}
        <span class="caret"></span>
    </a>
    <div class="dropdown-grid-wrapper">
        <ul class="dropdown-menu col-xs-12 col-sm-10 col-md-6 col-lg-6">
            <li>
                <div id="carousel-example-account" class="carousel">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="carousel-inner">
                                {% if not user.is_authenticated %}
                                {% include "header/signin.html" %}
                                {% endif %}
                                {% include "header/registration.html" %}
                                {% include "header/remind_username.html" %}
                                {% include "header/remind_password.html" %}
                                {% include "header/profile.html" %}
                                {% include "header/settings.html" %}
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <ol class="carousel-indicators navbar-carousel-indicators">
                                {% if not user.is_authenticated %}
                                <li data-target="#carousel-example-account" data-slide-to=0 class=active>
                                    <a href="javascript:void(0);">{{ locale.auth }}<span class="desc reverse">{{ locale.auth_desc }}</span></a>
                                </li>
                                <li data-target="#carousel-example-account" data-slide-to=1 class="">
                                    <a href="javascript:void(0);">{{ locale.register }}<span class="desc reverse">{{ locale.register_desc }}</span></a></li>
                                <li data-target="#carousel-example-account" data-slide-to=2 class="">
                                    <a href="javascript:void(0);">{{ locale.remind_name }}<span class="desc reverse">{{ locale.remind_desc }}</span></a>
                                </li>
                                <li data-target="#carousel-example-account" data-slide-to=3 class="">
                                    <a href="javascript:void(0);">{{ locale.remind_pass }}<span class="desc reverse">{{ locale.remind_pass_desc }}</span></a>
                                </li>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <li><p>Hello, &nbsp;<span class="label-profile">{{ user.username }}</span></p></li>
                                <li>
                                    <img id="profile_logo" src="{% get_media_prefix %}{{ user.photo.name }}" class="avatar img-rounded img-thumbnail" alt="avatar" onclick="load_photo();">
                                    <form>{% csrf_token %}<input type="file" name="photo_upload" id="photo_upload" class="file-loading" style="display: none"></form>
                                </li>
                                <li class="divider"></li>
                                 <li data-target="#carousel-example-account" data-slide-to=4 class="user-menu"><a href="javascript:void(0);"><i class="fa fa-adjust"></i> {{ locale.settings_label }}</a></li>

                                <li id="logout" class="user-menu">
                                    <a href="logout_user"><i class="fa fa-key"></i> {{ locale.logout }}<span class="desc reverse">{{ locale.logout_desc }}</span></a>
                                </li>
                            {% endif %}
                            </ol>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</li>
<script>
    jQuery(document).ready(function () {
        $('.file-preview').css('display', 'none');
    });
</script>