<div class="item">
    <h3 class="text-right">
        <i class="fa fa-envelope"></i> Contact us
    </h3><br/>
    <div class="row">
        <form role="form">
            <div class="col-xs-6 col-md-6 ">
                <div class="form-group">
                    <input class="input-sm form-control" id="inputName" name="inputName"/>
                </div>
            </div>
            <div class="col-xs-6 col-md-6 ">
                <div class="form-group">
                    <input type="password"
                           class="input-sm form-control" id="inputEmail" name="inputEmail"/>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 ">
                <div class="form-group">
                    <input type="password" class="input-sm form-control" id="inputSubject" name="inputSubject"/>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 ">
                <div class="form-group">
                    <textarea class="form-control" id="inputMessage" name="inputMessage" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group col-sm-offset-3 col-sm-9">

                <button class="btn btn-default pull-right" type="submit">
                    <i class="fa fa-chevron-circle-right"></i>Submit
                </button>
            </div>
        </form>
    </div>
</div>