<!-- Header Bar Start -->
{% load staticfiles %}
<script>
    $(document).ready(function (e) {
        $('.search-panel .dropdown-menu').find('a').click(function (e) {
            e.preventDefault();
            var concept = $(this).text();
            $('.search-panel span#search_concept').text(concept);
            $('.input-group #search_param').val(concept);
        });
        $(document).on('click touchstart touchend  touchcancel', '.navbar .dropdown-menu', function (e) {
            e.stopPropagation();
        });
        $(document).on('click', '.dropdown-toggle-btn', function (e) {
            e.stopImmediatePropagation();
        });
        $(".navbar").on("mouseleave", function () {
            if ($(".navbar").find('.navbar-nav>li.open').length > 0) {
                $('.navbar[class*="navbar-fixed-"]').css({opacity: 1});
            }
            else {
                $('.navbar[class*="navbar-fixed-"]').css({opacity: ''});
            }
        });

        $(document).on("click touchstart", function (e) {
            if (navigator.userAgent.match(/(iPod|iPhone|iPad)/)) {
                //This will close all opened menus
                $('.navbar').find('.dropdown.open, .dropdown-wide.open, .dropdown-full.open, .dropdown-short.open, .dropdown-grid.open').each(function () {
                    $(this).removeClass('open').children('.dropdown-toggle').attr('aria-expanded', false);
                })
                //This will close all opened submenus
                $('.navbar').find('.dropdown-menu.collapse.in').each(function () {
                    $(this).removeClass('in').attr('aria-expanded', false).prev('.dropdown-toggle').addClass('collapsed').attr('aria-expanded', false);
                });
            }
        });
    });
</script>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container" id="header-conainer">
            <div class="navbar-header">
                <a class="navbar-brand navbar-left" href="home"><img class="logo" src="{% static "img/skyfinder.png" %}"></a>
            </div>
            <div class="collapse navbar-collapse" id="MegaNavbarID">
                <ul class="nav navbar-nav navbar-left">

                    {% include "header/work_menu.html" %}
                    <li class="divider"></li>

                    {% include "header/social_menu.html" %}
                    <li class="divider"></li>

                    {% include "header/about_menu.html" %}
                    <li class="divider"></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% include "header/account.html" %}
                    {% include "header/notification.html" %}
                    {% include "header/language_menu.html" %}
                </ul>
            </div>
        </div>
    </nav>

