<li class="dropdown-grid" id="account">
    <a data-toggle="dropdown" href="javascript:void(0);" class="dropdown-toggle">
        <img style="margin-right: 3px;" src="/static/flags/{{ current_lang }}.gif">{{ locale.current_lang }}
        <span class="caret"></span>
    </a>
    <div class="dropdown-grid-wrapper">
        <ul class="dropdown-menu col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <li><a href="?lang=us"><div id="us_loc"><img style="margin-right: 3px;" src="/static/flags/us.gif">{{ locale.us_lang }}</div></a></li>
            <li><a href="?lang=ru"><div id="ru_loc"><img style="margin-right: 3px;" src="/static/flags/ru.gif">{{ locale.ru_lang }}</div></a></li>
        </ul>
    </div>
</li>
