<li class="dropdown-grid" id="account">
    <a data-toggle="dropdown" href="javascript:void(0);" class="dropdown-toggle">
        <i class="fa glyphicon glyphicon-envelope" style="margin-right: 5px;"></i>{{ locale.notify_menu_name }}
        <span id="badge_n"></span>
        <span class="caret"></span>
    </a>
    <div class="dropdown-grid-wrapper">
        <ul class="dropdown-menu col-xs-12 col-sm-12 col-md-4 col-lg-4" id="notification_menu">
            <li class="alert alert-info" role="info" id="no_nt">{{ locale.no_notification }}</li>
        </ul>
    </div>
</li>
