{% load static %}
  {% if user.is_authenticated %}<div class="item active">{% else %}<div class="item">{% endif %}
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <a href="javascript:void(0)" target="_new" onclick="get_four_token();"><img src="{% static "img/connect-blue@2x.png" %}" style="margin-left:20px"></a>
          </div>
      </div>
  </div>
