<div class="item">
    <h3 class="text-center"><i class="fa fa-user"></i> {{ locale.register }}</h3><br/>
    <form class="form-horizontal" role="form" enctype="multipart/form-data" action="register" id="register_form">
        {% csrf_token %}
        <div class="non-field-errors" style="position:relative;margin-left: 50px;bottom: 15px;">
            <p id="reg_error" class="form-error" style="color: #d93240">{{ err }}</p>
        </div>
        <div class="form-group">
            <label for="{{ user_form.username.id_for_label }}" class="col-sm-4 control-label" style="position:relative;bottom: 15px;">{{ locale.username }}</label>
            <div class="col-sm-8">
                {{ user_form.username }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ user_form.email.id_for_label }}" class="col-sm-4 control-label" style="position:relative;bottom: 15px;">{{ locale.mail }}</label>
            <div class="col-sm-8">
                {{ user_form.email }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ user_form.password.id_for_label }}" class="col-sm-4 control-label" style="position:relative;bottom: 15px;">{{ locale.password }}</label>
            <div class="col-sm-8">
                {{ user_form.password }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ user_form.confirm_password.id_for_label }}" class="col-sm-4 control-label" style="position:relative;bottom: 15px;">{{ locale.confirm_password }}</label>
            <div class="col-sm-8">
                {{ user_form.confirm_password }}
            </div>
        </div>
        <div class="form-group">
             <label for="{{ user_form.photo.id_for_label }}" class="col-sm-4 control-label" style="position:relative;bottom: 15px;">{{ locale.photo }}</label>
             <div class="col-sm-8">
                 {{ user_form.photo }}
             </div>
         </div>

        <div class="form-group">
            <label for="{{ user_form.country.id_for_label }}" class="col-sm-4 control-label" style="position:relative;bottom: 15px;">{{ locale.country }}</label>
            <div class="col-sm-8">
                {{ user_form.country }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ user_form.city.id_for_label }}" class="col-sm-4 control-label" style="position:relative;bottom: 15px;">{{ locale.city_label }}</label>
            <div class="col-sm-8">
                {{ user_form.city }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ user_form.phone.id_for_label }}" class="col-sm-4 control-label" style="position:relative;bottom: 15px;">{{ locale.phone }}</label>
            <div class="col-sm-8">
                {{ user_form.phone }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-7">
                <button id="save_account" class="btn btn-default pull-right" type="button" onclick="register();">
                    <i class="fa fa-save"></i> {{ locale.register_desc }}
                </button>
            </div>
        </div>
    </form>
</div>