<div class="item">
    <h3 class="text-center">
        <i class="fa fa-warning"></i> {{ locale.remind_pass_title_form }}
    </h3><br/>
    <p class="text-justify">
        {{ locale.remind_pass_h1 }}
    </p><br/>
    <form id="lost_password" method="post" class="form" role="form" action="remind_password">
        <div class="input-group">
            <input class="form-control" name="username"/> <span
                class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="js_remind_password();">
                    <i class="fa fa-envelope"></i> {{ locale.remind_name_push_btn }}
                </button></span>
        </div>
    </form>
    <br/>
    <p class="text-justify">
        <small><i>{{ locale.remind_pass_small_1 }} <span style="cursor: pointer" class="text-primary" data-target="#carousel-example-account" data-slide-to=2>{{ locale.remind_pass_a }}</span>
            {{ locale.remind_pass_small_2 }}</i></small>
    </p>
</div>