<div class="item">
    <h3 class="text-center">
        <i class="fa fa-warning"></i> {{ locale.remind_name_title_form }}
    </h3><br/>
    <p class="text-justify">
        {{ locale.remind_name_h1 }}
    </p><br/>
    <form id="lost_username" method="post" class="form" role="form" action="remind_username">
        <div class="input-group">
            <input class="form-control" name="email"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="js_remind_username();">
                    <i class="fa fa-envelope"></i> {{ locale.remind_name_push_btn }}
                </button>
            </span>
        </div>
    </form>
    <br/><br/>
    <p class="text-justify">
        <small>
            <i>{{ locale.remind_name_small }}</i>
        </small>
    </p>
</div>