<div class="item">
    <h3 class="text-center"><i class="fa fa-user"></i> {{ locale.settings_label }}</h3><br/>
    <form class="form-horizontal" role="form" enctype="multipart/form-data" action="update_settings" id="settings_form">
        {% csrf_token %}
        <div class="non-field-errors" style="position:relative;margin-left: 50px;bottom: 15px;">
            <p id="reg_error" class="form-error" style="color: #d93240">{{ err }}</p>
        </div>
        <div class="form-group">
            <label for="{{ user_form.username.id_for_label }}" class="col-sm-4 control-label" style="position:relative;bottom: 15px;">{{ locale.username }}</label>
            <div class="col-sm-8">
                <input class="input-sm form-control" id="id_username" maxlength="20" name="username" type="text" value="{{ user.username }}" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="{{ user_form.email.id_for_label }}" class="col-sm-4 control-label" style="position:relative;bottom: 15px;">{{ locale.mail }}</label>
            <div class="col-sm-8">
                {{ user_form.email }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ user_form.country.id_for_label }}" class="col-sm-4 control-label" style="position:relative;bottom: 15px;">{{ locale.country }}</label>
            <div class="col-sm-8">
                {{ user_form.country }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ user_form.city.id_for_label }}" class="col-sm-4 control-label" style="position:relative;bottom: 15px;">{{ locale.city_label }}</label>
            <div class="col-sm-8">
                {{ user_form.city }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ user_form.phone.id_for_label }}" class="col-sm-4 control-label" style="position:relative;bottom: 15px;">{{ locale.phone }}</label>
            <div class="col-sm-8">
                {{ user_form.phone }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-7 col-sm-5">
                <button id="save_account" class="btn btn-info ladda-button" data-style="expand-right" type="button" onclick="update_settings();">
                    <span class="ladda-label">{{ locale.save }}</span>
                </button>
            </div>
        </div>
    </form>
</div>