<div class="item active">
    <h3 class="text-center">
        <i class="fa fa-lock"></i> {{ locale.auth }}
    </h3><br/>
    <form class="form-horizontal" role="form" id="form_auth" action="signin">
        {% csrf_token %}
        <div class="non-field-errors" style="margin-left: 40px;">
            <p id="error" class="form-error" style="color: #d93240">{{ err }}</p>
        </div>
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}"
                   class="col-sm-4 control-label" style="position:relative;bottom: 15px;">{{ locale.username }}</label>
            <div class="col-sm-8">
                {{ form.username }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}"
                   class="col-sm-4 control-label" style="position:relative;bottom: 15px;">{{ locale.password }}</label>
            <div class="col-sm-8">
                {{ form.password }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button class="btn btn-default pull-right" type="button" onclick="signin();">
                    <i class="fa fa-unlock-alt"></i> {{ locale.auth }}
                </button>
            </div>
        </div>
    </form>

    <p class="text-primary" style="cursor: pointer;" data-target="#carousel-example-account" data-slide-to="1">
        <small>{{ locale.small_register }}</small>
    </p>
    <p class="text-primary" style="cursor: pointer;" data-target="#carousel-example-account" data-slide-to="3">
        <small>{{ locale.small_remind_pass }}</small>
    </p>
</div>