{% load staticfiles %}
<li class="dropdown-full no-shadow no-border-radius">
    <a data-toggle="dropdown" href="javascript:void(0);" class="dropdown-toggle">
        <i class="fa fa-instagram"></i>
        <span class="reverse">{{ locale.social_menu_name }}</span>
        <span class="caret"></span>
    </a>
    <input type="hidden" id="search_param">
    <div class="dropdown-menu row col-md-8 col-lg-8">
        <ul class="row">
            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <a href="javascript:void(0);" onclick="social_click(this);">
                        <img class="embed-responsive-item" src="{% static "img/instagram.jpg" %}"/>
                    </a>
                </div>
                <span class="desc">Instagram</span>
            </li>
            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <a href="javascript:void(0);" onclick="social_click(this);">
                        <img class="embed-responsive-item" src="{% static "img/foursquare.png" %}"/>
                    </a>
                </div>
                <span class="desc">Foursquare</span>
            </li>
            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <a href="javascript:void(0);" onclick="social_click(this);">
                        <img class="embed-responsive-item" src="{% static "img/twitter.jpg" %}"/>
                    </a>
                </div>
                <span class="desc">Twitter</span>
            </li>
            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <a href="javascript:void(0);" onclick="social_click(this);">
                        <img class="embed-responsive-item" src="{% static "img/vk.jpg" %}"/>
                    </a>
                </div>
                <span class="desc">Vkontakte</span>
            </li>
        </ul>
        <ul class="row divider"></ul>
        <ul class="row">
            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <a href="javascript:void(0);" onclick="find_checkins_friends();">
                        <img class="embed-responsive-item" src="{% static "img/checkins.jpg" %}"/>
                    </a>
                </div>
                <span class="desc">Find checkins my friends</span>
            </li>
        </ul>
    </div>
</li>
