<div class="item {% if user.is_authenticated %}active{% endif %}">
    <h3 class="text-center">
        <i class="fa fa-envelope"></i> Subscribe to our mailing list
    </h3><br/>
    <p class="text-justify">
        <i>
            <small>Get the freebies from us and latest updates about
                YourApp! We hate spam as much as you do, trust us we
                won't give your details away to other people.
            </small>
        </i>
    </p>
    <br/>
    <form class="form-horizontal" role="form">
        <div class="form-group">

            <label for="inputEmail" class="col-sm-5 control-label">
                Your email address
            </label>
            <div class="col-sm-7">
                <input class="input-sm form-control" id="inputEmail"
                       name="inputEmail"/>
            </div>
        </div>
        <div class="form-group">

            <label for="inputName" class="col-sm-5 control-label">
                Your Name
            </label>
            <div class="col-sm-7">
                <input class="input-sm form-control" id="inputName"
                       name="inputName"/>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-7">

                <button class="btn btn-default pull-right"
                        type="submit">
                    <i class="fa fa-envelope-o"></i> Subscribe
                </button>
            </div>
        </div>
    </form>
</div>