{% load staticfiles %}
{% load i18n %}
<li class="dropdown-full no-shadow no-border-radius">
    <a data-toggle="dropdown" href="javascript:void(0);" class="dropdown-toggle">
        <i class="fa fa-money"></i>
        <span class="reverse">{{ locale.work_menu_name }}</span>
        <span class="caret"></span>
    </a>

    <div class="dropdown-menu row col-md-8 col-lg-8">
        <ul class="row">
            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <a href="works?q=quality-assurance"><img
                            class="embed-responsive-item"
                            src="{% static "img/qa.jpg" %}"/></a>
                </div>
                <span class="desc">Quality Assurance</span>
            </li>
            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <a href="works?q=software-engineer"><img class="embed-responsive-item"
                                                             src="{% static "img/software_enginner.jpg" %}"/></a>
                </div>
                <span class="desc">Software Engineer</span>
            </li>
            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <a href="works?q=project-manager"><img class="embed-responsive-item"
                                                           src="{% static "img/project_manager.jpg" %}"
                                                           alt="bootstrap megamenu"/></a>
                </div>
                <span class="desc">Project Manager</span>
            </li>
            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <a href="works?q=data-analyst"><img class="embed-responsive-item"
                                                        src="{% static "img/data-analyst.jpg" %}"
                                                        alt="bootstrap mega menu"/></a>
                </div>
                <span class="desc">Data Analyst</span>
            </li>
        </ul>
        <br/>
        <ul class="row">
            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <a href="works?q=devops"><img class="embed-responsive-item"
                                                  src="{% static "img/devops.jpg" %}"/></a>
                </div>
                <a href="works?q=devops"><span class="desc">DevOps</span></a>
            </li>
            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <a href="works?q=dba"><img class="embed-responsive-item"
                                               src="{% static "img/dba.jpg" %}"/></a>
                </div>
                <a href="works?q=dba"><span class="desc">DBA</span></a>
            </li>
            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <a href="works?q=designer"><img class="embed-responsive-item"
                                                    src="{% static "img/designer.jpg" %}"/></a>
                </div>
                <a href="works?q=designer"><span class="desc">Designer</span></a>
            </li>
            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <a href="works?q=hr"><img class="embed-responsive-item"
                                              src="{% static "img/hr.jpeg" %}"/></a>
                </div>
                <a href="works?q=hr"><span class="desc">HR</span></a>
            </li>
        </ul>
        <ul class="row">
            <li class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <form class="navbar-form" role="search" id="form_search_jobs">
                    <div class="input-group"  id="search_jobs"><input placeholder="{{ locale.placeholder_jobs_search }}" class="form-control" id="vacancy">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type=submit><i class="fa fa-search"></i>&nbsp;</button>
                        </span>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</li>

