@media (max-width: 767px) {
    .navbar.xs-height25.navbar-fixed-top .navbar-collapse, .navbar.xs-height25.navbar-fixed-bottom .navbar-collapse {
        max-height: calc((100vh - 50px) * 25 / 100);
    }

    .navbar.xs-height33.navbar-fixed-top .navbar-collapse, .navbar.xs-height33.navbar-fixed-bottom .navbar-collapse {
        max-height: calc((100vh - 50px) * 33 / 100);
    }

    .navbar.xs-height50.navbar-fixed-top .navbar-collapse, .navbar.xs-height50.navbar-fixed-bottom .navbar-collapse {
        max-height: calc((100vh - 50px) * 50 / 100);
    }

    .navbar.xs-height66.navbar-fixed-top .navbar-collapse, .navbar.xs-height66.navbar-fixed-bottom .navbar-collapse {
        max-height: calc((100vh - 50px) * 66 / 100);
    }

    .navbar.xs-height75.navbar-fixed-top .navbar-collapse, .navbar.xs-height75.navbar-fixed-bottom .navbar-collapse {
        max-height: calc((100vh - 50px) * 75 / 100);
    }

    .navbar.xs-height100.navbar-fixed-top .navbar-collapse, .navbar.xs-height100.navbar-fixed-bottom .navbar-collapse {
        max-height: calc(100vh - 50px);
    }
}

.navbar-carousel-indicators {
    position: relative;
    bottom: inherit;
    left: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: inherit;
    list-style: none
}

.navbar-carousel-indicators li {
    width: 100%;
    height: auto;
    margin: 0px;
    text-indent: inherit;
    cursor: pointer;
    border: 0;
    border-radius: 0px;
    display: block;
}

.navbar-carousel-indicators .active {
    width: 100%;
    height: auto;
    margin: 0;
    background-color: transparent
}

.navbar, .dropdown-menu {
    min-width: 35px
}

.navbar .container, .navbar .container-fluid {
    position: relative
}

.navbar .navbar a, a:hover, a:focus {
    text-decoration: none
}

.navbar a.navbar-link, .navbar .navbar-text {
    line-height: 20px;
    padding: 15px;
    margin: 0;
}

.navbar p > a.navbar-link, .navbar p > .navbar-text {
    padding: 15px 0;
}

.navbar .dropdown-menu {
    overflow: visible !important;
    -webkit-transition: height 1ms;
    transition: height 1ms
}

.navbar .navbar-nav .dropdown-menu li.disabled:hover > a, .navbar .navbar-nav .dropdown-menu li.disabled:focus > a {
    cursor: not-allowed
}

.navbar.navbar-fixed-top, .navbar.navbar-fixed-bottom {
    -webkit-transform: none;
    -o-transform: none;
    -moz-transform: none;
    transform: none;
    -ms-transform: none;
}

.navbar .nav > li > a {
    display: inline-block;
    margin-top: 5px;
}

@media (max-width: 767px) {
    .navbar {
        border-bottom: 0px;
    }

    .navbar .navbar-nav > li.divider {
        display: none
    }

    .navbar .navbar-header a.navbar-link {
        display: block;
        margin: 0;
        padding: 15px 15px
    }

    .navbar a.navbar-link, .navbar .navbar-text {
        display: block;
        margin: 0;
        padding: 10px 15px;
        line-height: 20px;
    }

    .navbar p > a.navbar-link {
        display: inline-block;
        padding: 0 !important
    }

    .navbar .navbar-header .navbar-text {
        padding: 15px;
        margin: 0
    }

    .navbar .navbar-form {
        border: 0;
        margin: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }
}

.navbar .navbar-nav .dropdown-menu ul, .navbar .navbar-nav .dropdown-menu ul .dropdown-menu {
    padding: 0px
}

.navbar .navbar-nav .dropdown-menu li {
    list-style: none
}

.navbar .navbar-nav.navbar-right:last-child {
    margin-right: 0px
}

.navbar .navbar-header {
    z-index: 1;
    position: relative
}

.navbar .container-fluid .navbar-collapse, .navbar .container .navbar-collapse {
    position: relative;
    padding-right: 0px;
    padding-left: 0px
}

.navbar.navbar-static-top .container .navbar-collapse, .navbar.navbar-static-top .container-fluid .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px
}

.navbar.navbar-static-top .container .navbar-header, .navbar.navbar-static-top .container-fluid .navbar-header {
    margin-left: -15px;
    margin-right: 0px
}

.navbar.navbar-static-top.brand-right .container .navbar-header, .navbar.navbar-static-top.brand-right .container-fluid .navbar-header {
    margin-left: 0px;
    margin-right: -15px
}

.navbar.navbar-fixed-top.brand-right .container .navbar-header, .navbar.navbar-fixed-bottom.brand-right .container .navbar-header, .navbar.navbar-fixed-top.brand-right .container-fluid .navbar-header, .navbar.navbar-fixed-bottom.brand-right .container-fluid .navbar-header {
    margin-left: 0px;
    margin-right: 0px !important
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px
}

.navbar .dropdown-menu li.dropdown-header {
    display: block;
    padding: 5px 15px;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    font-weight: bold
}

.navbar .dropdown-short .dropdown-menu li.dropdown-header {
    display: block;
    padding: 5px 0px;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    font-weight: bold
}

.navbar h1, .navbar .h1, .navbar h2, .navbar .h2, .navbar h3, .navbar .h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 10px
}

.navbar h4, .navbar .h4, .navbar h5, .navbar .h5, .navbar h6, .navbar .h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px
}

.navbar .panel-title {
    padding-top: 0px;
    padding-bottom: 0px
}

.navbar .label {
    line-height: 14px;
    margin: 0 0 0 10px;
    padding: 3px 5px;
    vertical-align: top
}

.navbar-nav > .btn-group {
    margin: 8px 10px 8px 0px
}

.navbar .btn-group > .dropdown-menu, .navbar .navbar-form > .input-group .dropdown-menu {
    margin-top: 8px
}

.navbar .dropdown-menu li > a.dropdown-toggle {
    display: block;
    padding: 5px 30px 5px 15px;
    clear: both;
    font-weight: 400;
    line-height: 20px;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis
}

.navbar.caret-left .navbar-nav .dropdown-menu li > a.dropdown-toggle, .navbar .navbar-nav.caret-left .dropdown-menu li > a.dropdown-toggle, .navbar .navbar-nav .dropdown-menu.caret-left li > a.dropdown-toggle, .navbar .navbar-nav .dropdown-menu li.caret-left > a.dropdown-toggle, .navbar .navbar-nav .dropdown-menu li > a.caret-left.dropdown-toggle {
    padding: 5px 15px 5px 30px
}

.navbar .dropdown-menu li > a {
    display: block;
    padding: 5px 15px 5px 15px;
    clear: both;
    font-weight: 400;
    line-height: 20px;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis
}

.navbar a > span.desc {
    display: block;
    font-size: smaller;
    text-overflow: ellipsis;
    overflow: hidden
}

@media (max-width: 767px) {
    .navbar .navbar-collapse .navbar-nav > .navbar-form, .navbar .navbar-collapse > .navbar-form {
        margin: 0;
        border-top: none;
        border-bottom-width: 1px;
        border-bottom-style: solid
    }

    .navbar .navbar-collapse .navbar-nav > a.navbar-link, .navbar .navbar-collapse > a.navbar-link, .navbar .navbar-collapse .navbar-nav > .navbar-text, .navbar .navbar-collapse > .navbar-text, .navbar .navbar-collapse .navbar-nav > li {
        border-bottom-width: 1px;
        border-bottom-style: solid
    }

    .navbar .navbar-collapse .navbar-nav > li > a {
        padding-top: 9px;
        margin-top: 1px
    }

    .navbar .navbar-collapse .navbar-nav > li.open > a, .navbar .navbar-collapse .navbar-nav > li.xs-hover:hover > a, .navbar-nav > li.active > a {
        padding-top: 10px;
        padding-bottom: 11px;
        margin-top: 0px
    }

    .navbar .navbar-nav > li {
        clear: both
    }

    .navbar .navbar-header .navbar-nav > li {
        clear: none
    }

    .navbar.navbar-fixed-bottom .navbar-collapse {
        position: absolute !important;
        bottom: 100%;
        width: 100%;
        border-bottom: 1px solid
    }

    .navbar .navbar-nav > li > a {
        display: block
    }

    .navbar .navbar-nav .dropdown-menu {
        padding: 0;
        border-radius: 0 !important
    }

    .navbar.navbar-fixed-top.brand-right .container .navbar-header, .navbar.navbar-fixed-bottom.brand-right .container .navbar-header, .navbar.navbar-fixed-top.brand-right .container-fluid .navbar-header, .navbar.navbar-fixed-bottom.brand-right .container-fluid .navbar-header {
        margin-left: -15px !important;
        margin-right: -15px !important
    }

    .navbar .navbar-nav > button {
        display: block;
        width: 100%
    }

    .navbar .navbar-nav > .btn-group {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
        margin: 8px 10px 8px 0
    }

    .navbar .navbar-nav > .btn-group > .btn-group {
        display: table-cell;
        float: none;
        width: 1%
    }

    .navbar .navbar-nav > .btn-group > .btn-group .btn {
        width: 100%
    }

    .navbar .navbar-header .navbar-nav.navbar-right {
        float: right
    }

    .navbar .navbar-header .navbar-nav.navbar-left {
        float: left
    }

    .navbar .navbar-toggle {
        margin-left: 15px
    }

    .navbar .navbar-nav {
        margin: 1px
    }
}

@media (min-width: 768px) {
    .navbar .navbar-form-expanded input, .navbar .navbar-form-expanded input:focus:hover {
        -webkit-transition: width 0.25s ease;
        transition: width 0.25s ease
    }

    .navbar input[data-width="70px"], .navbar .navbar-form-expanded input[data-width-expanded="70px"]:focus, .navbar .navbar-form-expanded:hover input[data-width-expanded="70px"] {
        width: 70px !important
    }

    .navbar input[data-width="80px"], .navbar .navbar-form-expanded input[data-width-expanded="80px"]:focus, .navbar .navbar-form-expanded:hover input[data-width-expanded="80px"] {
        width: 80px !important
    }

    .navbar input[data-width="90px"], .navbar .navbar-form-expanded input[data-width-expanded="90px"]:focus, .navbar .navbar-form-expanded:hover input[data-width-expanded="90px"] {
        width: 90px !important
    }

    .navbar .navbar-form-expanded input, .navbar input[data-width="100px"], .navbar .navbar-form-expanded input[data-width-expanded="100px"]:focus, .navbar .navbar-form-expanded:hover input[data-width-expanded="100px"] {
        width: 100px !important
    }

    .navbar input[data-width="110px"], .navbar .navbar-form-expanded input[data-width-expanded="110px"]:focus, .navbar .navbar-form-expanded:hover input[data-width-expanded="110px"] {
        width: 110px !important
    }

    .navbar input[data-width="120px"], .navbar .navbar-form-expanded input[data-width-expanded="120px"]:focus, .navbar .navbar-form-expanded:hover input[data-width-expanded="120px"] {
        width: 120px !important
    }

    .navbar input[data-width="130px"], .navbar .navbar-form-expanded input[data-width-expanded="130px"]:focus, .navbar .navbar-form-expanded:hover input[data-width-expanded="130px"] {
        width: 130px !important
    }

    .navbar input[data-width="140px"], .navbar .navbar-form-expanded input[data-width-expanded="140px"]:focus, .navbar .navbar-form-expanded:hover input[data-width-expanded="140px"] {
        width: 140px !important
    }

    .navbar input[data-width="150px"], .navbar .navbar-form-expanded input[data-width-expanded="150px"]:focus, .navbar .navbar-form-expanded:hover input[data-width-expanded="150px"] {
        width: 150px !important
    }

    .navbar input[data-width="160px"], .navbar .navbar-form-expanded input[data-width-expanded="160px"]:focus, .navbar .navbar-form-expanded:hover input[data-width-expanded="160px"] {
        width: 160px !important
    }

    .navbar input[data-width="170px"], .navbar .navbar-form-expanded input[data-width-expanded="170px"]:focus, .navbar .navbar-form-expanded:hover input[data-width-expanded="170px"] {
        width: 170px !important
    }

    .navbar .navbar-form-expanded input:focus, .navbar .navbar-form-expanded:hover input, .navbar input[data-width="180px"], .navbar .navbar-form-expanded input[data-width-expanded="180px"]:focus, .navbar .navbar-form-expanded:hover input[data-width-expanded="180px"] {
        width: 180px !important
    }

    .navbar input[data-width="190px"], .navbar .navbar-form-expanded input[data-width-expanded="190px"]:focus, .navbar .navbar-form-expanded:hover input[data-width-expanded="190px"] {
        width: 190px !important
    }

    .navbar input[data-width="200px"], .navbar .navbar-form-expanded input[data-width-expanded="200px"]:focus, .navbar .navbar-form-expanded:hover input[data-width-expanded="200px"] {
        width: 200px !important
    }
}

.navbar .no-border, .navbar.no-border, .navbar .no-border > *, .navbar.no-border > * {
    border: none !important;
    border-radius: 0 !important
}

.navbar .no-border-radius, .navbar.no-border-radius, .navbar .no-border-radius > *, .navbar.no-border-radius > * {
    border-radius: 0 !important
}

.navbar .no-padding {
    padding: 0 !important
}

.navbar .padding15 {
    padding: 15px !important
}

.navbar .no-margin {
    margin: 0 !important
}

.navbar .margin15 {
    margin: 15px !important
}

.navbar .no-shadow, .navbar.no-shadow, .navbar .no-shadow > *, .navbar.no-shadow > * {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.navbar .navbar-nav li:not(.dropdown) > .dropdown-menu.bordered:not(.no-padding):after, .navbar .navbar-nav li:not(.dropdown) > .dropdown-grid-wrapper > .dropdown-menu.bordered:not(.no-padding):after {
    content: '';
    display: block;
    z-index: -1;
    top: 15px;
    outline-width: 1px;
    outline-style: solid;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px
}

@media (min-width: 768px) {
    .navbar .navbar-nav > li.divider {
        position: relative;
        width: 1px;
        height: 50px
    }
}

.navbar .navbar-nav .divided {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.navbar .navbar-nav .dropdown-short .divided > *:before {
    margin: -1px -1px -1px 0px;
}

.navbar .navbar-nav .dropdown-short .divided > *.h-divided:before {
    margin: -1px -1px 0px 0px;
}

.navbar .navbar-nav .divided.row:before {
    display: block;
}

.navbar .navbar-nav .divided > *:before {
    margin: -1px -1px 0px 0px;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    border-width: 1px;
    border-style: solid;
    background: transparent !important;
}

.navbar .navbar-nav .dropdown-menu .divided li:not(.row) > h1, .navbar .navbar-nav .dropdown-menu .divided li:not(.row) > h2, .navbar .navbar-nav .dropdown-menu .divided li:not(.row) > h3, .navbar .navbar-nav .dropdown-menu .divided li:not(.row) > h4, .navbar .navbar-nav .dropdown-menu .divided li:not(.row) > h5, .navbar .navbar-nav .dropdown-menu .divided li:not(.row) > h6, .navbar .navbar-nav .dropdown-menu .divided li:not(.row) > a {
    margin-left: 1px;
    margin-bottom: 1px
}

.navbar .navbar-nav .h-divider:after {
    content: '';
    margin-top: -1px;
    width: 100%;
    display: block;
    height: 1px;
    z-index: 2;
}

.navbar .navbar-nav .h-divider {
    position: relative !important;
}

.navbar .navbar-nav .h-divided > *:after {
    content: '';
    margin-top: -1px;
    width: 100%;
    height: 1px;
    display: block;
    z-index: 1;
}

.navbar .navbar-nav .h-divided > *:first-child:before {
    content: '';
    margin-top: -1px;
    width: 100%;
    height: 1px;
    display: block;
    z-index: 1;
}

.navbar .navbar-nav .h-divided > *.collapse-up-onclick:after, .navbar .navbar-nav .h-divided > *.collapse-down-onclick:after, .navbar .navbar-nav .h-divided > *.collapse-up-onhover:after, .navbar .navbar-nav .h-divided > *.collapse-down-onhover:after {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: -1;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 1 0 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto
}

.navbar .navbar-header > .navbar-nav > li, .navbar .navbar-header > .navbar-nav.navbar-left > li, .navbar.brand-right .navbar-header > .navbar-nav.navbar-left > li {
    float: left
}

.navbar .navbar-header > .navbar-nav.navbar-right > li, .navbar.brand-right .navbar-header > .navbar-nav > li, .navbar.brand-right .navbar-header > .navbar-nav.navbar-right > li {
    float: right
}

.navbar.brand-right .navbar-header > .navbar-brand {
    float: right;
    margin-left: 0;
    margin-right: 0px
}

.navbar.brand-right .navbar-header > .navbar-toggle {
    float: left;
    margin-left: 15px;
    margin-right: 15px
}

.navbar.brand-right .navbar-nav.navbar-right:last-child {
    margin-right: 0
}

.navbar.menu-lg .navbar-brand, .navbar .menu-lg .navbar-brand, .navbar-brand.menu-lg {
    padding: 10px 20px;
    font-size: 24px;
    line-height: 30px
}

.navbar.menu-sm .navbar-brand, .navbar .menu-sm .navbar-brand, .navbar-brand.menu-sm {
    padding: 10px 10px;
    font-size: 16px;
    line-height: 30px
}

.navbar.menu-xs .navbar-brand, .navbar .menu-xs .navbar-brand, .navbar-brand.menu-xs {
    padding: 10px 5px;
    font-size: 14px;
    line-height: 30px
}

.navbar.menu-lg .navbar-toggle, .navbar .menu-lg .navbar-toggle, .navbar .navbar-toggle.menu-lg {
    margin-top: 7px;
    margin-right: 20px;
    margin-bottom: 7px
}

.navbar.menu-lg .navbar-toggle > .icon-bar, .navbar .menu-lg .navbar-toggle > .icon-bar, .navbar .navbar-toggle.menu-lg > .icon-bar {
    height: 3px
}

.navbar.brand-right.menu-lg .navbar-toggle, .navbar.brand-right .menu-lg .navbar-toggle, .navbar.brand-right .navbar-toggle.menu-lg {
    margin-left: 20px
}

.navbar.menu-sm .navbar-toggle, .navbar .menu-sm .navbar-toggle, .navbar .navbar-toggle.menu-sm {
    padding: 6px 7px;
    margin-top: 11px;
    margin-right: 10px;
    margin-bottom: 11px
}

.navbar.brand-right.menu-sm .navbar-toggle, .navbar.brand-right .menu-sm .navbar-toggle, .navbar.brand-right .navbar-toggle.menu-sm {
    margin-left: 10px
}

.navbar.menu-xs .navbar-toggle, .navbar .menu-xs .navbar-toggle, .navbar .navbar-toggle.menu-xs {
    padding: 3px 4px;
    margin-top: 14px;
    margin-right: 5px;
    margin-bottom: 14px
}

.navbar.brand-right.menu-xs .navbar-toggle, .navbar.brand-right .menu-xs .navbar-toggle, .navbar.brand-right .navbar-toggle.menu-xs {
    margin-left: 5px
}

@media (min-width: 768px) {
    .navbar.brand-right .navbar-header {
        float: right
    }
}

@media (max-width: 767px) {
    .navbar .navbar.brand-right .navbar-header {
        float: none
    }

    .navbar .navbar-header .nav.navbar-left {
        margin: 0 0 0 15px
    }

    .navbar .navbar-header .nav.navbar-right {
        margin: 0 15px 0 0
    }

    .navbar .navbar-header .nav > li > a {
        padding: 15px 8px;
        display: table;
        float: left
    }
}

@media (min-width: 768px) {
    .navbar .navbar-nav > li.dropdown-onhover:hover > ul, .navbar.dropdown-onhover .navbar-nav > li:hover > ul, .navbar.dropdown-onhover .navbar-nav > li:hover.dropdown-grid > .dropdown-grid-wrapper > .dropdown-menu, .navbar .navbar-nav.dropdown-onhover > li:hover.dropdown-grid > .dropdown-grid-wrapper > .dropdown-menu {
        z-index: 1001
    }

    .navbar:not(.no-open-arrow).dropdown-onhover .navbar-nav > li:not(.disabled):hover > a.dropdown-toggle:after, .navbar:not(.no-border):not(.no-open-arrow).dropdown-onhover .navbar-nav > li:not(.disabled):hover > a.dropdown-toggle:before, .navbar:not(.no-open-arrow) .navbar-nav.dropdown-onhover > li:hover > a.dropdown-toggle:after, .navbar:not(.no-border):not(.no-open-arrow) .navbar-nav.dropdown-onhover > li:hover > a.dropdown-toggle:before, .navbar:not(.no-open-arrow) .navbar-nav > li.dropdown-onhover:hover > a.dropdown-toggle:after, .navbar:not(.no-border):not(.no-open-arrow) .navbar-nav > li.dropdown-onhover:hover > a.dropdown-toggle:before, .navbar:not(.no-active-arrow) .navbar-nav > .active > a:after, .navbar:not(.no-border):not(.no-active-arrow) .navbar-nav > .active > a:before, .navbar:not(.no-open-arrow) .navbar-nav > .open > a.dropdown-toggle:after, .navbar:not(.no-border):not(.no-open-arrow) .navbar-nav > .open > a.dropdown-toggle:before {
        content: " ";
        position: absolute;
        left: 50%;
        width: 0;
        height: 0;
        border-style: solid;
        line-height: 0px;;
        margin-left: -8px;
        border-color: transparent
    }

    .navbar.dropdown-onhover.no-fix .navbar-nav > .open:not(.active):not(:hover) > a.dropdown-toggle:after, .navbar.dropdown-onhover.no-fix .navbar-nav > .open:not(.active):not(:hover) > a.dropdown-toggle:before, .navbar .navbar-nav.dropdown-onhover.no-fix > .open:not(.active):not(:hover) > a.dropdown-toggle:after, .navbar .navbar-nav.dropdown-onhover.no-fix > .open:not(.active):not(:hover) > a.dropdown-toggle:before, .navbar .navbar-nav > .dropdown-onhover.no-fix.open:not(.active):not(:hover) > a.dropdown-toggle:after, .navbar .navbar-nav > .dropdown-onhover.no-fix.open:not(.active):not(:hover) > a.dropdown-toggle:before {
        content: none;
    }

    .navbar.navbar-fixed-bottom .navbar-nav > .active > a:before {
        top: -8px;
        border-width: 0 8px 8px 8px
    }

    .navbar.navbar-fixed-bottom .navbar-nav > .active > a:after {
        top: -7px;
        border-width: 0 8px 8px 8px
    }

    .navbar.no-border.navbar-fixed-bottom .navbar-nav > .active > a:after {
        top: -8px
    }

    .navbar.navbar-fixed-bottom.dropdown-onhover .navbar-nav > li:not(.disabled):hover > a:before, .navbar.navbar-fixed-bottom .navbar-nav.dropdown-onhover > li:not(.disabled):hover > a:before, .navbar.navbar-fixed-bottom .navbar-nav > li.dropdown-onhover:not(.disabled):hover > a:before, .navbar.navbar-fixed-bottom .navbar-nav > .open > a:before {
        top: 0px;
        border-width: 8px 8px 0 8px
    }

    .navbar.navbar-fixed-bottom.dropdown-onhover .navbar-nav > li:not(.disabled):hover > a:after, .navbar.navbar-fixed-bottom .navbar-nav.dropdown-onhover > li:not(.disabled):hover > a:after, .navbar.navbar-fixed-bottom .navbar-nav > li.dropdown-onhover:not(.disabled):hover > a:after, .navbar.navbar-fixed-bottom .navbar-nav > .open > a:after {
        top: -1px;
        border-width: 8px 8px 0 8px
    }

    .navbar.no-border.navbar-fixed-bottom.dropdown-onhover .navbar-nav > li:not(.disabled):hover > a:after, .navbar.no-border.navbar-fixed-bottom .navbar-nav.dropdown-onhover > li:not(.disabled):hover > a:after, .navbar.no-border.navbar-fixed-bottom .navbar-nav > li.dropdown-onhover:not(.disabled):hover > a:after, .navbar.no-border.navbar-fixed-bottom .navbar-nav > .open > a:after {
        top: 0px
    }

    .navbar:not(.navbar-fixed-bottom) .navbar-nav > .active > a:before {
        bottom: -9px;
        border-width: 8px 8px 0 8px
    }

    .navbar:not(.navbar-fixed-bottom) .navbar-nav > .active > a:after {
        bottom: -8px;
        border-width: 8px 8px 0 8px
    }

    .navbar:not(.navbar-fixed-bottom) .navbar-nav > li:not(.disabled).dropdown-onhover:hover > a:before, .navbar:not(.navbar-fixed-bottom).dropdown-onhover .navbar-nav > li:not(.disabled):hover > a:before, .navbar:not(.navbar-fixed-bottom) .navbar-nav.dropdown-onhover > li:not(.disabled):hover > a:before, .navbar:not(.navbar-fixed-bottom) .navbar-nav > .open > a:before {
        bottom: 0px;
        border-width: 0 8px 8px 8px
    }

    .navbar:not(.navbar-fixed-bottom) .navbar-nav > li:not(.disabled).dropdown-onhover:hover > a:after, .navbar:not(.navbar-fixed-bottom).dropdown-onhover .navbar-nav > li:not(.disabled):hover > a:after, .navbar:not(.navbar-fixed-bottom) .navbar-nav.dropdown-onhover > li:not(.disabled):hover > a:after, .navbar:not(.navbar-fixed-bottom) .navbar-nav > .open > a:after {
        bottom: -1px;
        border-width: 0 8px 8px 8px
    }

    .navbar.no-border:not(.navbar-fixed-bottom) .navbar-nav > li:not(.disabled).dropdown-onhover:hover > a:after, .navbar.no-border:not(.navbar-fixed-bottom).dropdown-onhover .navbar-nav > li:not(.disabled):hover > a:after, .navbar.no-border:not(.navbar-fixed-bottom) .navbar-nav.dropdown-onhover > li:not(.disabled):hover > a:after, .navbar.no-border:not(.navbar-fixed-bottom) .navbar-nav > .open > a:after {
        bottom: 0px
    }

    .navbar.dropdown-onhover.no-fix.navbar-fixed-bottom .navbar-nav > .active > a:before, .navbar.navbar-fixed-bottom .navbar-nav.dropdown-onhover.no-fix > .active > a:before, .navbar.navbar-fixed-bottom .navbar-nav > .dropdown-onhover.no-fix.active > a:before {
        top: -8px;
        border-width: 0 8px 8px 8px
    }

    .navbar.dropdown-onhover.no-fix.navbar-fixed-bottom .navbar-nav > .active > a:after, .navbar.navbar-fixed-bottom .navbar-nav.dropdown-onhover.no-fix > .active > a:after, .navbar.navbar-fixed-bottom .navbar-nav > .dropdown-onhover.no-fix.active > a:after {
        top: -7px;
        border-width: 0 8px 8px 8px
    }

    .navbar.dropdown-onhover.no-fix:not(.navbar-fixed-bottom) .navbar-nav > .active > a:before, .navbar:not(.navbar-fixed-bottom) .navbar-nav.dropdown-onhover.no-fix > .active > a:before, .navbar:not(.navbar-fixed-bottom) .navbar-nav > .dropdown-onhover.no-fix.active > a:before {
        bottom: -9px;
        border-width: 8px 8px 0 8px
    }

    .navbar.dropdown-onhover.no-fix:not(.navbar-fixed-bottom) .navbar-nav > .active > a:after, .navbar:not(.navbar-fixed-bottom) .navbar-nav.dropdown-onhover.no-fix > .active > a:after, .navbar:not(.navbar-fixed-bottom) .navbar-nav > .dropdown-onhover.no-fix.active > a:after {
        bottom: -8px;
        border-width: 8px 8px 0 8px
    }
}

.navbar:not(.caret-bootstrap) .navbar-nav:not(.caret-bootstrap) li:not(.caret-bootstrap) > a.dropdown-toggle:not(.caret-bootstrap) > span:not(.caret-bootstrap).caret {
    position: relative;
    width: 8px;
    height: 20px;
    vertical-align: top;
    font-family: FontAwesome;
    margin-left: 8px;
    border: none
}

.navbar:not(.caret-bootstrap) .navbar-nav:not(.caret-bootstrap) li:not(.caret-bootstrap) > a.dropdown-toggle:not(.caret-bootstrap) > span:not(.caret-bootstrap).caret:before {
    content: "\f107"
}

.navbar.navbar-fixed-bottom:not(.caret-bootstrap) .navbar-nav:not(.caret-bootstrap) li:not(.caret-bootstrap) > a.dropdown-toggle:not(.caret-bootstrap) > span:not(.caret-bootstrap).caret:before {
    content: "\f106"
}

@media (max-width: 768px) {
    .navbar:not(.caret-bootstrap) .navbar-nav:not(.caret-bootstrap) li:not(.caret-bootstrap) > a.dropdown-toggle:not(.caret-bootstrap) > span:not(.caret-bootstrap).caret {
        float: right
    }
}

.navbar.caret-bootstrap .navbar-nav li > a.dropdown-toggle > span.caret, .navbar .navbar-nav.caret-bootstrap li > a.dropdown-toggle > span.caret, .navbar .navbar-nav li.caret-bootstrap > a.dropdown-toggle > span.caret, .navbar .navbar-nav li > a.dropdown-toggle.caret-bootstrap > span.caret, .navbar .navbar-nav li > a.dropdown-toggle > span.caret.caret-bootstrap {
    float: right;
    margin-top: 8px;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 8px;
    margin-right: 0px;
    vertical-align: middle;
    border-top: 4px solid;
    border-bottom: 0px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}

.navbar.navbar-fixed-bottom.caret-bootstrap .navbar-nav li > a.dropdown-toggle > span.caret, .navbar.navbar-fixed-bottom .navbar-nav.caret-bootstrap li > a.dropdown-toggle > span.caret, .navbar.navbar-fixed-bottom .navbar-nav li.caret-bootstrap > a.dropdown-toggle > span.caret, .navbar.navbar-fixed-bottom .navbar-nav li > a.dropdown-toggle.caret-bootstrap > span.caret, .navbar.navbar-fixed-bottom .navbar-nav li > a.dropdown-toggle > span.caret.caret-bootstrap {
    float: right;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 8px;
    margin-right: 0px;
    vertical-align: middle;
    border-top: 0px;
    border-bottom: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}

.navbar.caret-left .navbar-nav li > a.dropdown-toggle > span.caret, .navbar .navbar-nav.caret-left li > a.dropdown-toggle > span.caret, .navbar .navbar-nav li.caret-left > a.dropdown-toggle > span.caret {
    margin-right: 8px !important;
    margin-left: 0px !important;
    float: left !important
}

.navbar.caret-bootstrap .navbar-nav .dropdown-menu li > a.dropdown-toggle:before, .navbar .navbar-nav.caret-bootstrap .dropdown-menu li > a.dropdown-toggle:before, .navbar .navbar-nav .dropdown-menu li.caret-bootstrap > a.dropdown-toggle:before, .navbar .navbar-nav .dropdown-menu li > a.dropdown-toggle.caret-bootstrap:before {
    width: 0;
    height: 0;
    position: absolute;
    border-top: 4px solid;
    border-bottom: 0px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "" !important;
    margin-top: 8px;
    float: right
}

.navbar .navbar-nav .dropdown-menu li > a.dropdown-toggle:before {
    position: absolute;
    width: 10px;
    left: auto;
    right: 10px;
    font-family: FontAwesome;
    content: ""
}

.navbar.caret-left .navbar-nav .dropdown-menu li > a.dropdown-toggle:before, .navbar .navbar-nav.caret-left .dropdown-menu li > a.dropdown-toggle:before, .navbar .navbar-nav .dropdown-menu.caret-left li > a.dropdown-toggle:before, .navbar .navbar-nav .dropdown-menu li.caret-left > a.dropdown-toggle:before, .navbar .navbar-nav .dropdown-menu li > a.caret-left.dropdown-toggle:before {
    left: 10px;
    right: auto
}

.navbar .navbar-nav .dropdown-menu li.dropup-left-onclick > a.dropdown-toggle:not(.collapsed):before, .navbar .navbar-nav .dropdown-menu li.dropdown-left-onclick > a.dropdown-toggle:not(.collapsed):before {
    content: "\f104"
}

.navbar .navbar-nav .dropdown-menu li.dropup-right-onclick > a.dropdown-toggle:not(.collapsed):before, .navbar .navbar-nav .dropdown-menu li.dropdown-right-onclick > a.dropdown-toggle:not(.collapsed):before {
    content: "\f105"
}

.navbar .navbar-nav .dropdown-menu li[class*="dropup-"] > a.dropdown-toggle:before, .navbar .navbar-nav .dropdown-menu li[class*="collapse-up-"] > a.dropdown-toggle:before, .navbar .navbar-nav .dropdown-menu li.dropup-center-onhover:not(.no-fix) > a.dropdown-toggle:not(.collapsed):before, .navbar .navbar-nav .dropdown-menu li.collapse-up-onhover:not(.no-fix) > a.dropdown-toggle:not(.collapsed):before {
    content: "\f106"
}

.navbar .navbar-nav .dropdown-menu li[class*="dropdown-"] > a.dropdown-toggle:before, .navbar .navbar-nav .dropdown-menu li[class*="collapse-down-"] > a.dropdown-toggle:before, .navbar .navbar-nav .dropdown-menu li.dropdown-center-onhover:not(.no-fix) > a.dropdown-toggle:not(.collapsed):before, .navbar .navbar-nav .dropdown-menu li.collapse-down-onhover:not(.no-fix) > a.dropdown-toggle:not(.collapsed):before {
    content: "\f107"
}

@media (min-width: 768px) {
    .navbar .navbar-nav .dropdown-menu li.dropup-left-onhover:hover > a.dropdown-toggle:before, .navbar .navbar-nav .dropdown-menu li.dropdown-left-onhover:hover > a.dropdown-toggle:before, .navbar .navbar-nav .dropdown-menu li.dropup-left-onhover:not(.no-fix) > a.dropdown-toggle:not(.collapsed):before, .navbar .navbar-nav .dropdown-menu li.dropdown-left-onhover:not(.no-fix) > a.dropdown-toggle:not(.collapsed):before {
        content: "\f104"
    }

    .navbar .navbar-nav .dropdown-menu li.dropup-right-onhover:hover > a.dropdown-toggle:before, .navbar .navbar-nav .dropdown-menu li.dropdown-right-onhover:hover > a.dropdown-toggle:before, .navbar .navbar-nav .dropdown-menu li.dropup-right-onhover:not(.no-fix) > a.dropdown-toggle:not(.collapsed):before, .navbar .navbar-nav .dropdown-menu li.dropdown-right-onhover:not(.no-fix) > a.dropdown-toggle:not(.collapsed):before {
        content: "\f105"
    }
}

@media (max-width: 767px) {
    .navbar .navbar-nav .dropdown-menu li[class*="collapse-up-"] > a.dropdown-toggle:before {
        content: "\f106" !important
    }

    .navbar .navbar-nav .dropdown-menu li > a.dropdown-toggle:before {
        content: "\f107" !important
    }

    .navbar:not(.caret-bootstrap) .navbar-nav:not(.caret-bootstrap) .dropdown-menu:not(.caret-bootstrap) li:not(.caret-bootstrap).collapse-up-onclick > a:not(.caret-bootstrap).dropdown-toggle.collapsed:before {
        content: "\f106" !important
    }
}

.navbar .navbar-nav > li.dropdown-grid.open > .dropdown-grid-wrapper > .dropdown-menu {
    display: block
}

@media (min-width: 768px) {
    .navbar.dropdown-onhover.no-fix .navbar-nav > li.dropdown-grid.open > .dropdown-grid-wrapper > .dropdown-menu, .navbar .navbar-nav.dropdown-onhover.no-fix > li.dropdown-grid.open > .dropdown-grid-wrapper > .dropdown-menu, .navbar .navbar-nav > li.dropdown-onhover.no-fix.dropdown-grid.open > .dropdown-grid-wrapper > .dropdown-menu, .navbar.dropdown-onhover.no-fix .navbar-nav > li > .dropdown-menu, .navbar .navbar-nav.dropdown-onhover.no-fix > li > .dropdown-menu, .navbar .navbar-nav > li.dropdown-onhover.no-fix > .dropdown-menu {
        display: none
    }

    .navbar:not(.no-border).dropdown-onhover .navbar-nav > li:hover > a, .navbar:not(.no-border) li.dropdown-onhover:hover > a, .navbar:not(.no-border) .navbar-nav.dropdown-onhover > li:hover > a {
        border-top-width: 0px;
        border-left-width: 0;
        border-right-width: 0;
        border-bottom-width: 1px;
        border-style: solid;
        margin-bottom: -1px;
        margin-top: 0px
    }

    .navbar.navbar-fixed-bottom:not(.no-border).dropdown-onhover .navbar-nav > li:hover > a, .navbar.navbar-fixed-bottom:not(.no-border) li.dropdown-onhover:hover > a, .navbar.navbar-fixed-bottom:not(.no-border) .navbar-nav.dropdown-onhover > li:hover > a {
        border-top-width: 1px;
        border-left-width: 0;
        border-right-width: 0;
        border-bottom-width: 0px;
        border-style: solid;
        margin-bottom: 0px;
        margin-top: -1px
    }

    .navbar.dropdown-onhover .navbar-nav > li:hover > .dropdown-menu, .navbar.dropdown-onhover .navbar-nav > li:hover > .dropdown-grid-wrapper > .dropdown-menu, .navbar li.dropdown-onhover:hover > .dropdown-menu, .navbar li.dropdown-onhover:hover > .dropdown-grid-wrapper > .dropdown-menu, .navbar .navbar-nav.dropdown-onhover > li:hover > .dropdown-menu, .navbar .navbar-nav.dropdown-onhover > li:hover > .dropdown-grid-wrapper > .dropdown-menu {
        display: block !important;
        visibility: visible;
        z-index: 1001 !important;
    }
}

@media (max-width: 767px) {
    .navbar .navbar-nav > li.dropdown-short > .dropdown-menu .h-divided {
        width: 100%
    }

    .navbar .navbar-nav > li.dropdown-grid > .dropdown-grid-wrapper {
        float: none !important
    }

    .navbar .navbar-nav > li.dropdown-grid > .dropdown-grid-wrapper > .dropdown-menu, .navbar .navbar-nav > li > .dropdown-menu {
        border-top-style: solid;
        border-top-width: 1px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        position: relative;
        left: 0 !important;
        right: 0 !important;
        top: 0px !important;
        bottom: auto !important;
    }

    .navbar.navbar-fixed-bottom .navbar-nav > li.dropdown-wide > .dropdown-menu, .navbar.navbar-fixed-top .navbar-nav > li.dropdown-wide > .dropdown-menu, .navbar.navbar-static-top .navbar-nav > li.dropdown-wide > .dropdown-menu, .navbar .navbar-nav > li.dropdown-wide > .dropdown-menu, .navbar .navbar-nav > li.dropdown-full > .dropdown-menu {
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100%
    }

    .navbar .navbar-nav > li.dropdown-wide.open > .dropdown-menu, .navbar .navbar-nav > li.dropdown-full.open > .dropdown-menu {
        display: inline-block;
        visibility: visible;
    }

    .navbar .navbar-nav > li.dropdown-grid > .dropdown-grid-wrapper > .dropdown-menu, .navbar .navbar-nav > li.dropdown-grid > a {
        margin-right: 0px !important
    }

    .navbar .navbar-nav.navbar-right > li > .dropdown-grid-wrapper > .dropdown-menu, .navbar .navbar-nav.navbar-right > li > a, .navbar .navbar-nav.navbar-right > li > ul {
        margin-right: 1px !important
    }

    .navbar li.xs-hover:hover > .dropdown-menu {
        display: block;
        visibility: visible;
        height: inherit !important;
        float: none;
        width: auto;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }

    .navbar li.xs-hover:hover > .dropdown-grid-wrapper > .dropdown-menu {
        display: block;
        visibility: visible;
        height: inherit !important;
        float: none;
        width: auto;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }

    .navbar li.xs-hover.no-fix:not(:hover) > .dropdown-menu,
    .navbar li.xs-hover.no-fix:not(:hover) > .dropdown-grid-wrapper > .dropdown-menu {
        display: none;
    }

    .navbar li.dropdown-wide.xs-hover:hover > .dropdown-menu, .navbar li.dropdown-full.xs-hover:hover > .dropdown-menu {
        display: inline-block !important;
        visibility: visible;
    }

    .navbar li.xs-hover:hover > .dropdown-menu .dropdown-menu {
        position: static;
        float: none;
        border: 0;
    }

    .navbar li.xs-hover:hover > .dropdown-grid-wrapper > .dropdown-menu .dropdown-menu {
        position: static;
        float: none;
        border: 0;
    }
}

.navbar .navbar-nav > li ul li[class*="-onhover"]:not(.no-fix) > .dropdown-toggle.collapsed + .collapsing, .navbar .navbar-nav > li ul li[class*="-onclick"] > .dropdown-toggle.collapsed + .collapsing {
    display: none;
    height: inherit !important
}

.navbar .navbar-nav > li ul li[class*="-onhover"]:not(.no-fix) > .dropdown-toggle:not(.collapsed) + .collapsing, .navbar .navbar-nav > li ul li[class*="-onclick"] > .dropdown-toggle:not(.collapsed) + .collapsing {
    display: block;
    visibility: visible;
    height: inherit !important
}

.navbar .navbar-nav > li ul li[class*="-onhover"]:not([class*="collapse-"]):hover > .dropdown-menu, .navbar .navbar-nav > li ul li[class*="-onclick"]:hover > .dropdown-menu {
    z-index: 1002
}

.navbar .navbar-nav > li ul li.dropup-center-onhover > .dropdown-menu {
    display: none
}

.navbar .navbar-nav > li ul li.dropdown-center-onhover > .dropdown-menu {
    display: none
}

.navbar .navbar-nav > li ul li.dropup-right-onhover > .dropdown-menu {
    display: none
}

.navbar .navbar-nav > li ul li.dropdown-right-onhover > .dropdown-menu {
    display: none
}

.navbar .navbar-nav > li ul li.dropup-left-onhover > .dropdown-menu {
    display: none
}

.navbar .navbar-nav > li ul li.dropdown-left-onhover > .dropdown-menu {
    display: none
}

.navbar .navbar-nav > li ul li.collapse-down-onhover > .dropdown-menu, .navbar .navbar-nav > li ul li.collapse-up-onhover > .dropdown-menu {
    display: none;
    overflow: visible
}

.navbar .navbar-nav > li ul li[class*="collapse-up-"] {
    float: none;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.navbar .navbar-nav > li ul li[class*="collapse-up-"] > a, .navbar .navbar-nav > li ul li[class*="collapse-up-"] > ul.dropdown-menu {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto
}

.navbar .navbar-nav .dropdown-menu li[class*="collapse-"] > .dropdown-menu li:not([class*="collapse-"]) > .dropdown-menu li > a {
    padding-left: 15px !important;
}

@media (max-width: 767px) {
    .navbar .navbar-nav > li ul li[class*="-onhover"] > .dropdown-menu.collapse.in {
        display: block;
        visibility: visible;
        height: inherit !important
    }

    .navbar .navbar-nav > li ul li[class*="-onhover"] > .dropdown-toggle.collapsed + .dropdown-menu.collapsing {
        display: none;
        height: inherit !important
    }

    .navbar .navbar-nav > li ul li[class*="-onhover"] > .dropdown-toggle:not(.collapsed) + .dropdown-menu.collapsing {
        display: block;
        visibility: visible;
        height: inherit !important
    }

    .navbar .navbar-nav > li ul li[class*="-onclick"] > .dropdown-menu, .navbar .navbar-nav > li ul li[class*="-onhover"] > .dropdown-menu {
        padding: 0 !important;
        margin: 1px 0 1px 0;
        width: auto
    }

    .navbar .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding-left: 15px
    }

    .navbar .navbar-nav .dropdown-menu, .navbar .navbar-nav .dropdown-menu {
        -webkit-box-shadow: none !important;
        box-shadow: none !important
    }

    .navbar.caret-left .navbar-nav .open .dropdown-menu > li > a.dropdown-toggle, .navbar-nav.caret-left .open .dropdown-menu > li > a.dropdown-toggle, .navbar-nav .open.caret-left .dropdown-menu > li > a.dropdown-toggle, .navbar-nav .open .dropdown-menu.caret-left > li > a.dropdown-toggle, .navbar-nav .open .dropdown-menu > li.caret-left > a.dropdown-toggle, .navbar-nav .open .dropdown-menu > li > a.dropdown-toggle.caret-left {
        padding-left: 30px
    }

    .navbar .navbar-nav > li ul li[class*="collapse-"] .dropdown-menu li > a {
        padding-left: 15px !important
    }

    .navbar-nav .dropdown-menu .dropdown-menu {
        margin-left: 15px !important;
        margin-right: 0px !important;
        margin-top: 1px !important;
    }
}

@media (min-width: 768px) {
    .navbar .navbar-nav > li ul li[class*="-onhover"]:hover > .dropdown-menu,
    .navbar .navbar-nav > li ul li[class*="-onhover"]:not(.no-fix) > .dropdown-menu.collapse.in {
        display: block !important;
        visibility: visible;
        height: inherit !important;
    }
}
