@media (max-width: 767px) {
    .navbar .dropdown-menu {
    }

    .navbar .navbar-nav > li.dropdown > ul.dropdown-menu {
        border-top-width: 15px;
        display: none;
        border-bottom-width: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 4px;
    }

    .navbar:not(.no-border) .navbar-nav > li.dropdown > ul.dropdown-menu {
        margin-top: 15px;
        display: none;
    }

    .navbar.navbar-fixed-bottom .navbar-nav > li.dropdown > ul.dropdown-menu {
        top: 50%;
        display: none;
        bottom: 50%;
        border-top-width: 15px;
        border-bottom-width: 0;
        margin-top: 15px;
        margin-bottom: 1px;
        border-radius: 4px;
    }

    .navbar.no-border .navbar-nav > li.dropdown > ul.dropdown-menu {
        margin-top: 15px;
        display: none;
        margin-bottom: 15px;
    }

    .navbar:not(.no-border) .navbar-nav > li.dropdown-short > ul.dropdown-menu {
        margin-top: 15px;
    }

    .navbar.no-border .navbar-nav > li.dropdown-short > ul.dropdown-menu {
        margin-top: 0;
    }

    .navbar .navbar-nav > li.dropdown-short > ul.dropdown-menu {
        top: 100%;
        bottom: 100%;
        padding: 15px;
        border-top-width: 0;
        border-bottom-width: 1px;
        margin-bottom: 0;
        border-radius: 4px;
    }

    .navbar.navbar-fixed-bottom:not(.no-border) .navbar-nav > li.dropdown-short > ul.dropdown-menu {
        margin-bottom: 15px;
        display: none;
    }

    .navbar.navbar-fixed-bottom .navbar-nav > li.dropdown-short > ul.dropdown-menu {
        top: 100%;
        display: none;
        bottom: 100%;
        border-top-width: 15px;
        border-bottom-width: 0;
        margin-top: 0;
        border-radius: 4px;
    }

    .navbar.no-border .navbar-nav > li.dropdown-short > ul.dropdown-menu {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .navbar .navbar-nav > li.dropdown-grid {
        position: relative !important;
    }

    .navbar .navbar-nav.navbar-left > li.dropdown-grid > .dropdown-grid-wrapper {
        direction: ltr;
        display: none;
        position: fixed;
    }

    .navbar .navbar-nav.navbar-right > li.dropdown-grid > .dropdown-grid-wrapper {
        direction: ltr;
        float: left;
        position: fixed;
    }

    .navbar .navbar-nav.navbar-right > li.dropdown-grid > .dropdown-grid-wrapper.dropdown-menu-left {
        direction: ltr;
        float: left;
        position: fixed;
    }

    .navbar .navbar-nav.navbar-left > li.dropdown-grid > .dropdown-grid-wrapper.dropdown-menu-right {
        direction: ltr;
        float: left;
        position: fixed;
    }

    .navbar:not(.no-border) .navbar-nav > li.dropdown-grid > .dropdown-grid-wrapper > ul {
        margin-top: 15px;
        z-index: 0;
        position: fixed;
    }

    .navbar.no-border .navbar-nav > li.dropdown-grid > .dropdown-grid-wrapper > ul {
        margin-top: 15px;
        z-index: 0;
        position: fixed;
    }

    .navbar .navbar-nav > li.dropdown-grid > .dropdown-grid-wrapper > ul {
        top: 100%;
        bottom: 100%;
        z-index: 1000;
        padding: 15px;
        border-radius: 0 0 4px 4px;
        border-top-width: 10px;
        left: 100%;
        direction: ltr;
    }

    .navbar.navbar-fixed-bottom .navbar-nav > li.dropdown-grid > .dropdown-grid-wrapper > ul {
        top: 100%;
        display: none;
        bottom: 100%;
        margin-bottom: 15px;
        margin-top: 0;
        border-top-width: 1px;
        border-bottom-width: 10px;
        border-radius: 4px;
    }

    .navbar .navbar-nav.navbar-right > li.dropdown-grid > .dropdown-grid-wrapper > ul {
        right: 100%;
        z-index: 0;
        position: fixed;
    }

    .navbar.no-border .navbar-nav > li.dropdown-grid > .dropdown-grid-wrapper > ul {
        margin-top: 15px;
        z-index: 0;
        position: fixed;
    }

    .navbar.no-border.navbar-fixed-bottom .navbar-nav > li.dropdown-grid > .dropdown-grid-wrapper > ul {
        margin-bottom: 15px;
        z-index: 0;
        position: fixed;
    }

    .navbar .navbar-nav > li.dropdown-grid > .dropdown-grid-wrapper > ul > li {
        width: 100%;
        display: none;
        box-shadow: none !important;
        border: none !important;
    }

    .navbar.no-border .navbar-nav > li.dropdown-grid > ul.dropdown-menu > li {
        margin-top: 15px;
    }

    .navbar.navbar-fixed-bottom.no-border .navbar-nav > li.dropdown-grid > ul.dropdown-menu > li {
        margin-bottom: 15px;
        z-index: 0;
    }

    .navbar .navbar-nav > li.dropdown-wide {
        position: relative;
    }

    .navbar:not(.no-border) .navbar-nav > li.dropdown-wide > ul.dropdown-menu {
        margin-top: 15px;
        display: none;
        z-index: 0;
        position: fixed;
    }

    .navbar.no-border .navbar-nav > li.dropdown-wide > ul.dropdown-menu {
        margin-top: 15px;,
        position: fixed;
        z-index: 0;
    }

    .navbar .navbar-nav > li.dropdown-wide > ul.dropdown-menu {
        top: 100%;
        bottom: 100%;
        display: none;
        border-radius: 0 0 4px 4px;
        border-top-width: 0;
        left: 0;
        right: 0;
        padding: 15px;
        margin-bottom: 0;
    }

    .navbar.no-border .navbar-nav > li.dropdown-wide > ul.dropdown-menu {
        margin-top: 15px;
        margin-bottom: 15px;
        z-index: 0
    }

    .navbar.navbar-fixed-bottom .navbar-nav > li.dropdown-wide > ul.dropdown-menu {
        top: 100%;
        bottom: 100%;
        z-index: 0;
        position: fixed;
        border-radius: 4px 4px 0 0;
        border-top-width: 1px;
        border-bottom-width: 0;
    }

    .navbar .navbar-nav > li.dropdown-wide > ul.dropdown-menu {
        margin-left: 15px;
        margin-right: 15px;
        position: fixed;
    }

    .navbar.no-border .navbar-nav > li.dropdown-wide > ul.dropdown-menu {
        margin-left: 15px;
        display: none;
        z-index: 0;
        margin-right: 15px;
        position: fixed;
    }

    .navbar.navbar-fixed-bottom .navbar-nav > li.dropdown-wide > ul.dropdown-menu, .navbar.navbar-fixed-top .navbar-nav > li.dropdown-wide > ul.dropdown-menu, .navbar.navbar-static-top .navbar-nav > li.dropdown-wide > ul.dropdown-menu {
        margin-left: 15px;
        margin-right: 15px;
    }

    .navbar.no-border.navbar-fixed-bottom .navbar-nav > li.dropdown-wide > ul.dropdown-menu, .navbar.no-border.navbar-fixed-top .navbar-nav > li.dropdown-wide > ul.dropdown-menu, .navbar.no-border.navbar-static-top .navbar-nav > li.dropdown-wide > ul.dropdown-menu {
        margin-left: 15px;
        margin-right: 15px;
    }

    .navbar.no-border .navbar-nav > li.dropdown-wide > ul.dropdown-menu {
        margin-top: 15px;
        position: fixed;
    }

    .navbar.navbar-fixed-bottom.no-border .navbar-nav > li.dropdown-wide > ul.dropdown-menu {
        margin-bottom: 15px;
        position: fixed;
    }

    .navbar .navbar-nav > li.dropdown-full {
        position: fixed;
    }

    .navbar:not(.no-border) .navbar-nav > li.dropdown-full > ul.dropdown-menu {
        margin-top: 15px;
        z-index: 0;
    }

    .navbar.no-border .navbar-nav > li.dropdown-full > ul.dropdown-menu {
        margin-top: 10px;
        position: fixed;
        z-index: 0;
    }

    .navbar .navbar-nav > li.dropdown-full > ul.dropdown-menu {
        top: 100%;
        bottom: 100%;
        z-index: 0;
        border-radius: 4px;
        border-top-width: 10px;
        left: 100%;
        right: 100%;
        padding: 1px;
        margin-bottom: 15px;
    }

    .navbar.no-border .navbar-nav > li.dropdown-wide > ul.dropdown-menu {
        margin-top: 15px;
        margin-bottom: 1px;
    }

    .navbar.navbar-fixed-bottom .navbar-nav > li.dropdown-full > ul.dropdown-menu {
        top: 100%;
        position: absolute;
        z-index: 0;
        bottom: 100%;
        border-radius: 4px;
        border-top-width: 0;
        border-bottom-width: 1px;
    }

    .navbar .navbar-nav > li.dropdown-full > ul.dropdown-menu {
        margin-left: 15px;
        margin-right: 15px;
    }

    .navbar.no-border .navbar-nav > li.dropdown-full > ul.dropdown-menu {
        margin-left: 15px;
        display: none;
        position: absolute;
        z-index: 0;
        margin-right: 15px;
    }

    .navbar.navbar-fixed-bottom .navbar-nav > li.dropdown-full > ul.dropdown-menu, .navbar.navbar-fixed-top .navbar-nav > li.dropdown-full > ul.dropdown-menu, .navbar.navbar-static-top .navbar-nav > li.dropdown-full > ul.dropdown-menu {
        margin-left: 0;
        margin-right: 0;
    }

    .navbar.no-border.navbar-fixed-bottom .navbar-nav > li.dropdown-full > ul.dropdown-menu, .navbar.no-border.navbar-fixed-top .navbar-nav > li.dropdown-full > ul.dropdown-menu, .navbar.no-border.navbar-static-top .navbar-nav > li.dropdown-full > ul.dropdown-menu {
        margin-left: -1px;
        margin-right: -1px;
    }

    .navbar.no-border .navbar-nav > li.dropdown-full > ul.dropdown-menu {
        margin-top: 15px;
        z-index: 0;
    }

    .navbar.navbar-fixed-bottom.no-border .navbar-nav > li.dropdown-full > ul.dropdown-menu {
        margin-bottom: 15px
    }
}

@media (min-width: 768px) {
    .navbar .dropdown-menu {
        position: absolute;
    }

    .navbar .navbar-nav > li:not(.dropdown-onhover):not(.dropdown-short)[class*="dropdown-"] {
        position: static;
    }

    .navbar:not(.no-border) .navbar-nav > li[class*="dropdown"] > .dropdown-menu, .navbar:not(.no-border) .navbar-nav > li.dropdown-grid > .dropdown-grid-wrapper > .dropdown-menu {
        margin-top: 6px;
        margin-bottom: 1px;
    }

    .navbar.no-border .navbar-nav > li[class*="dropdown"] > .dropdown-menu, .navbar.no-border .navbar-nav > li.dropdown-grid > .dropdown-grid-wrapper > .dropdown-menu {
        margin-top: 0;
        margin-bottom: 0;
    }

    .navbar .navbar-nav > li[class*="dropdown"] > .dropdown-menu, .navbar .navbar-nav > li.dropdown-grid > .dropdown-grid-wrapper > .dropdown-menu {
        top: 100%;
        bottom: auto;
        border-top-width: 0;
        border-bottom-width: 1px;
        border-radius: 0 0 4px 4px;
    }

    .navbar.navbar-fixed-bottom .navbar-nav > li[class*="dropdown"] > .dropdown-menu, .navbar.navbar-fixed-bottom .navbar-nav > li.dropdown-grid > .dropdown-grid-wrapper > .dropdown-menu {
        top: auto;
        bottom: 100%;
        border-top-width: 1px;
        border-bottom-width: 0;
        border-radius: 4px 4px 0 0;
    }

    .navbar .navbar-nav > li.dropdown > .dropdown-menu {
        padding: 0;
    }

    .navbar .navbar-nav > li.dropdown-short > .dropdown-menu {
        padding: 15px;
    }

    .navbar .navbar-nav > li.dropdown-wide > .dropdown-menu, .navbar .navbar-nav > li.dropdown-full > .dropdown-menu {
        left: 0;
        right: 0;
        padding: 15px;
        margin-left: 0;
        margin-right: 0;
    }

    .navbar .navbar-nav.navbar-left > li.dropdown-grid > .dropdown-grid-wrapper {
        direction: rtl;
        float: right;
    }

    .navbar .navbar-nav.navbar-right > li.dropdown-grid > .dropdown-grid-wrapper {
        direction: rtl;
        float: right;
    }

    .navbar .navbar-nav.navbar-right > li.dropdown-grid > .dropdown-grid-wrapper.dropdown-menu-left {
        direction: rtl;
        float: right;
    }

    .navbar .navbar-nav.navbar-left > li.dropdown-grid > .dropdown-grid-wrapper.dropdown-menu-right {
        direction: ltr;
        float: left;
    }

    .navbar .navbar-nav > li.dropdown-grid > .dropdown-grid-wrapper > .dropdown-menu {
        direction: ltr;
        right: auto;
        padding: 15px;
    }

    .navbar .navbar-nav.navbar-right > li.dropdown-grid > .dropdown-grid-wrapper > .dropdown-menu {
        left: auto;
    }

    .navbar.navbar-fixed-bottom .navbar-nav > li.dropdown-wide > .dropdown-menu, .navbar.navbar-fixed-top .navbar-nav > li.dropdown-wide > .dropdown-menu, .navbar.navbar-static-top .navbar-nav > li.dropdown-wide > .dropdown-menu {
        margin-left: 15px;
        margin-right: 15px;
    }

    .navbar:not(.no-border) .navbar-nav > li.dropdown-full > .dropdown-menu {
        margin-left: -16px;
        margin-right: -16px;
    }

    .navbar.no-border .navbar-nav > li.dropdown-full > .dropdown-menu {
        margin-left: -15px;
        margin-right: -15px
    }

    .navbar.navbar-fixed-bottom .navbar-nav > li.dropdown-full > .dropdown-menu, .navbar.navbar-fixed-top .navbar-nav > li.dropdown-full > .dropdown-menu, .navbar.navbar-static-top .navbar-nav > li.dropdown-full > .dropdown-menu, .navbar.no-border.navbar-static-top .navbar-nav > li.dropdown-full > .dropdown-menu {
        margin-left: 0;
        margin-right: 0;
        margin-top: 6px;
    }

    .navbar .navbar-nav > li ul li[class*="-onhover"], .navbar .navbar-nav > li ul li[class*="-onclick"] {
        position: relative;
    }

    .navbar .navbar-nav > li ul li.dropup-center-onhover > .dropdown-menu {
        left: 0;
        right: 0;
        top: auto;
        bottom: 100%;
        z-index: 1001;
        padding: 15px;
        overflow: visible;
        margin: 0;
        width: 100%;
    }

    .navbar .navbar-nav > li ul li.dropdown-center-onhover > .dropdown-menu {
        left: 0;
        right: 0;
        top: 100%;
        bottom: auto;
        z-index: 1001;
        padding: 15px;
        overflow: visible;
        margin: 0;
        width: 100%;
    }

    .navbar .navbar-nav > li ul li.dropup-right-onhover > .dropdown-menu {
        right: 100%;
        left: auto;
        top: auto;
        bottom: 0;
        z-index: 1001;
        overflow: visible;
    }

    .navbar .navbar-nav > li ul li.dropdown-right-onhover > .dropdown-menu {
        right: 100%;
        left: auto;
        top: 0;
        bottom: auto;
        z-index: 1001;
        overflow: visible;
    }

    .navbar .navbar-nav > li ul li.dropup-left-onhover > .dropdown-menu {
        right: auto;
        left: 100%;
        top: auto;
        bottom: 0;
        z-index: 1001;
        overflow: visible;
    }

    .navbar .navbar-nav > li ul li.dropdown-left-onhover > .dropdown-menu {
        right: auto;
        left: 100%;
        top: 0;
        bottom: auto;
        z-index: 1001;
        overflow: visible;
    }

    .navbar .navbar-nav > li ul li.dropup-center-onclick > .dropdown-menu {
        left: 0;
        right: 0;
        top: auto;
        bottom: 100%;
        z-index: 1001;
        padding: 15px;
        margin: 0;
        width: 100%;
    }

    .navbar .navbar-nav > li ul li.dropdown-center-onclick > .dropdown-menu {
        left: 0;
        right: 0;
        top: 100%;
        bottom: auto;
        z-index: 1001;
        padding: 15px;
        margin: 0;
        width: 100%;
    }

    .navbar .navbar-nav > li ul li[class*="-center-"].ltr > .dropdown-menu, .navbar .navbar-nav > li ul li[class*="-center-"] > .dropdown-menu.ltr {
        left: 0;
        right: auto;
        width: auto;
    }

    .navbar .navbar-nav > li ul li[class*="-center-"].rtl > .dropdown-menu, .navbar .navbar-nav > li ul li[class*="-center-"] > .dropdown-menu.rtl {
        left: auto;
        right: 0;
        width: auto;
    }

    .navbar .navbar-nav > li ul li.dropup-right-onclick > .dropdown-menu {
        right: 100%;
        left: auto;
        top: auto;
        bottom: 0;
        z-index: 1001;
    }

    .navbar .navbar-nav > li ul li.dropdown-right-onclick > .dropdown-menu {
        right: 100%;
        left: auto;
        top: 0;
        bottom: auto;
        z-index: 1001
    }

    .navbar .navbar-nav > li ul li.dropup-left-onclick > .dropdown-menu {
        right: auto;
        left: 100%;
        top: auto;
        bottom: 0;
        z-index: 1001
    }

    .navbar .navbar-nav > li ul li.dropdown-left-onclick > .dropdown-menu {
        right: auto;
        left: 100%;
        top: 0;
        bottom: auto;
        z-index: 1001;
    }

    .navbar .navbar-nav > li:not(.dropdown) ul li.dropup-right-onclick > .dropdown-menu, .navbar .navbar-nav > li:not(.dropdown) ul li.dropdown-right-onclick > .dropdown-menu, .navbar .navbar-nav > li:not(.dropdown) ul li.dropup-right-onhover > .dropdown-menu, .navbar .navbar-nav > li:not(.dropdown) ul li.dropdown-right-onhover > .dropdown-menu {
        margin: 0 0 0 -1px;
        padding: 15px;
    }

    .navbar .navbar-nav > li:not(.dropdown) ul li.dropup-left-onclick > .dropdown-menu, .navbar .navbar-nav > li:not(.dropdown) ul li.dropdown-left-onclick > .dropdown-menu, .navbar .navbar-nav > li:not(.dropdown) ul li.dropup-left-onhover > .dropdown-menu, .navbar .navbar-nav > li:not(.dropdown) ul li.dropdown-left-onhover > .dropdown-menu {
        margin: 0 -1px 0 0;
        padding: 15px;
    }

    .navbar .navbar-nav > li.dropdown ul li.dropup-right-onclick > .dropdown-menu, .navbar .navbar-nav > li.dropdown ul li.dropdown-right-onclick > .dropdown-menu, .navbar .navbar-nav > li.dropdown ul li.dropup-right-onhover > .dropdown-menu, .navbar .navbar-nav > li.dropdown ul li.dropdown-right-onhover > .dropdown-menu {
        margin: 0 0 0 -10px;
        padding: 0;
    }

    .navbar .navbar-nav > li.dropdown ul li.dropup-left-onclick > .dropdown-menu, .navbar .navbar-nav > li.dropdown ul li.dropdown-left-onclick > .dropdown-menu, .navbar .navbar-nav > li.dropdown ul li.dropup-left-onhover > .dropdown-menu, .navbar .navbar-nav > li.dropdown ul li.dropdown-left-onhover > .dropdown-menu {
        margin: 0 -10px 0 0;
        padding: 0;
    }

    .navbar .navbar-nav > li ul li[class*="collapse-down-"] > .dropdown-menu {
        background: transparent;
        width: 100%;
        border: none;
        box-shadow: none;
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
    }

    .navbar .navbar-nav > li ul li[class*="collapse-up-"] > .dropdown-menu {
        background: transparent;
        width: 100%;
        border: none;
        box-shadow: none;
        position: relative;
        z-index: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .navbar .navbar-nav > li ul li[class*="collapse-up-"] {
        width: 100%;
        -moz-box-sizing: border-box;
    }

    .navbar .navbar-nav .dropdown-menu li[class*="collapse-"] > .dropdown-menu li:not([class*="collapse-"]) > .dropdown-menu li > a {
        padding-left: 15px !important;
    }

    .navbar .navbar-nav > li ul li[class*="collapse-"] .dropdown-menu li > a {
        padding-right: 30px;
    }

    .navbar .navbar-nav > li ul li[class*="collapse-"] .dropdown-menu li[class*="collapse-"] .dropdown-menu li > a {
        padding-right: 45px;
    }

    .navbar .navbar-nav > li ul li[class*="collapse-"] .dropdown-menu li[class*="collapse-"] .dropdown-menu li[class*="collapse-"] .dropdown-menu li > a {
        padding-right: 60px;
    }

    .navbar .navbar-nav > li ul li[class*="collapse-"] .dropdown-menu li[class*="collapse-"] .dropdown-menu li[class*="collapse-"] .dropdown-menu li[class*="collapse-"] .dropdown-menu li > a {
        padding-right: 75px;
    }

    .navbar .navbar-nav > li ul li[class*="collapse-"] .dropdown-menu li[class*="collapse-"] .dropdown-menu li[class*="collapse-"] .dropdown-menu li[class*="collapse-"] .dropdown-menu li[class*="collapse-"] .dropdown-menu li > a {
        padding-right: 90px;
    }

    .navbar .navbar-nav > li ul li.dropup-center-onclick > ul.dropdown-menu {
        padding: -15px;
        display: flex;
        right: 100%;
        left: 0;
        top: 100%;
        bottom: auto;
        z-index: 0;
    }

    .navbar .navbar-nav > li ul li.dropdown-center-onclick > ul.dropdown-menu {
        top: 0;
        position: absolute;
        bottom: 100%;
        right: 100%;
        left: auto;
        z-index: 0;
        float: right;
    }

    .navbar .navbar-nav > li ul li.dropup-right-onclick > ul.dropdown-menu {
        right: 0;
        display: none;
        left: 0;
        margin-left: 15px;
        margin-right: 15px;
        top: 100%;
        top: 1px;
        bottom: 1px;
        z-index: 1;
        float: right;
    }

    .navbar .navbar-nav > li ul li.dropdown-right-onclick > ul.dropdown-menu {
        right: auto;
        position: absolute;
        left: 100%;
        margin-left: -15px;
        margin-right: 0;
        top: -1px;
        bottom: auto;
        z-index: 0;
    }

    .navbar .navbar-nav > li ul li.dropup-left-onclick > ul.dropdown-menu {
        right: 100%;
        left: auto;
        margin-left: 100% px;
        margin-right: -15px;
        top: auto;
        bottom: -1px;
        z-index: 0;
    }

    .navbar .navbar-nav > li ul li.dropdown-left-onclick > ul.dropdown-menu {
        right: 100%;
        display: none;
        position: absolute;
        left: 100%;
        margin-left: 0;
        margin-right: -15px;
        top: -1px;
        bottom: auto;
        z-index: 0;
    }

    .navbar .navbar-nav > li ul li.dropup-center-onhover > ul.dropdown-menu {
        display: inline;
        position: absolute;
        height: 0;
        padding: -15px;
        display: flex;
        overflow: hidden;
        z-index: 0;
        right: 0;
        left: 0;
        top: 100%;
        bottom: 100%;
        margin-bottom: 1px;
    }

    .navbar .navbar-nav > li ul li.dropdown-center-onhover > ul.dropdown-menu {
        display: inline;
        height: 100%;
        overflow: hidden;
        z-index: 0;
        top: 100%;
        bottom: auto;
        right: 0;
        left: 0;
        margin-top: 1px;
    }

    .navbar .navbar-nav > li ul li.dropup-right-onhover > ul.dropdown-menu {
        display: table;
        display: none;
        position: absolute;
        height: 100%;
        overflow: hidden;
        z-index: 0;
        right: auto;
        left: 100%;
        top: auto;
        bottom: 15px;
        margin-right: 15px;
        margin-left: 15px;
    }

    .navbar .navbar-nav > li ul li.dropdown-right-onhover > ul.dropdown-menu {
        display: block;
        height: 100%;
        overflow: scroll;
        z-index: 0;
        right: auto;
        left: 100%;
        top: 1px;
        bottom: auto;
        margin-right: 15px;
        margin-left: 15px;
    }

    .navbar .navbar-nav > li ul li.dropup-left-onhover > ul.dropdown-menu {
        display: inline;
        position: absolute;
        height: 100%;
        overflow: hidden;
        z-index: 0;
        right: -100%;
        left: 100%;
        top: 100%;
        bottom: 1px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .navbar .navbar-nav > li ul li.dropdown-left-onhover > ul.dropdown-men {
        display: table;
        display: none;
        position: absolute;
        height: 100%;
        overflow: hidden;
        z-index: 0;
        right: 100%;
        left: 100%;
        top: 1px;
        bottom: auto;
        margin-left: 15px;
        margin-right: 15px;
    }
    .navbar .navbar-nav>li ul li[class*="collapse-down-"]>ul.dropdown-menu {
        background: transparent;
            width: 100%;
            border: 1px solid;
            -webkit-box-shadow: 1px solid #000;
            box-shadow: 1px solid #000;
            position: absolute;
            z-index: auto;
    }
    .navbar .navbar-nav>li ul li.collapse-down-onhover>ul.dropdown-menu {
        display: block;
            height: 100%;
            overflow: scroll;
    }
}
