<div id="jssor_1" style="position: relative; top: 0; left: 0; overflow: hidden;">
        <div u="slides" class="slides" style="cursor: move; position: relative; left: 0; top: 0; width: 700px; height: 500px; overflow: hidden;">

        {0}
    </div>
    <div u="thumbnavigator" style="position: absolute; bottom: 0; left: 20px; height:25px; width:240px;">
        <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%;">
        </div>
        <div u="slides">
            <div u="prototype" style="position: absolute; width: 240px; height: 22px; TOP: 0; LEFT: 0;">
                <div u="thumbnailtemplate" style="font-family: verdana,serif; font-weight: normal; position: absolute; width: 100%; height: 100%; TOP: 0; left: 0; color:#fff; line-height: 22px; font-size:14px; padding-left:10px;"></div>
            </div>
        </div>
    </div>
    <span u="arrowleft" class="jssora02l" style="top: 123px; left: 8px;"></span>
    <!-- Arrow Right -->
    <span u="arrowright" class="jssora02r" style="top: 123px; right: 8px;"></span>
</div>
