<div style="background: #ffffff;">
    <div>
        <img src="{0}">
        <div class="row" style="position: absolute;width:380px;left:200px; top: 30px;font-size: 16px; color: #080808">
            <strong>{1} {2} <span style="color:#ffa633;font-size: 16px;">{3}</span></strong>
        </div>
        <div class="row" style="position: absolute;width:250px;left:200px; top: 60px;font-size: 14px; color: #646464">{4}</div>
        <div class="row" style="position: absolute;width:300px;left:200px; top: 100px;font-size: 14px; color: #646464">{5}</div>
        <div class="row" style="position: absolute;width:300px;left:200px; top: 130px;font-size: 14px; color: #0d74bb">{6}</div>
        <div class="row" style="position: absolute;width:300px;left:550px; top: 100px;font-size: 14px; color: #646464">{7}</div>
    </div>
</div>