<div style="background: #ffffff;">
    <div>
        <img src="{0}" style="position: absolute;left:20px; top: 30px;"/>
        <a href="{1}"
           style="position: absolute;left:90px; top: 30px; font-size: 18px;line-height: 1.25;font-weight: bold;color:#292f33;">{4}</a>
        <a href="{1}" style="position: absolute;left:90px; top: 50px;color:#8899a6;">@{5}</a>
        <div class="row" style="position: absolute;width:500px;left:50px; top: 100px;font-size: 20px; color: #{6}">{2}
        </div>
    </div>
    <div u="thumb" style="position: absolute;width:170px;"><a style="color:#EB5100">{3}</a></div>
</div>