<div style="background: #ffffff;">
    <div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="{3}" target="_blank"><img src="{0}" style="position: relative; margin: 15px 15px;"/></a>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="row" style="position:relative;width:200px;margin-top:30px;margin-left: 20px;">
                    <a href="{1}" target="_blank" style="font-size:18px;line-height:1.25;font-weight:bold">{2}</a>
                </div>
                <div class="row" style="position:relative;width:200px;margin-left: 20px;margin-right: 20px;">
                    <a href="{3}" target="_blank" style="color:#8899a6;">{3}</a>
                </div>
            </div>
        </div>
        <div class="row" style="position:relative;margin: 15px 25px;padding: 5px 15px;">{4}</div>
        <div class="row lead" style="position:relative;margin: 15px 25px;padding: 5px 15px;">
            <input type="hidden" value="{7}">
        <input class="rating-loading" value="{8}"><br/></div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="position: relative;margin-top: 50px;margin-left: 30px;">
                <span style="color: #00b6f1">{5}</span>
            </div>
             <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
             <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="position: relative;margin-top: 50px;margin-right:30px;float: right">
                <span style="color: #1f3141">{6}</span>
            </div>
        </div>
    </div>
</div>