<!DOCTYPE html>
<html>
<head>
    <meta name="msvalidate.01" content="6709D364D135BA2D316DA3D614EBCD59"/>
    <meta name="google-site-verification" content="6P_bLPMIxXs99n9wNb_ibixIwkaVvBMiZUaIgDUdSXA"/>
    {% load staticfiles %}
    {% include "resources.html" %}

    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/css/bootstrap-slider.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/bootstrap-slider.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="{% static "css/bootstrap-datepicker3.min.css" %}">
    <script type="text/javascript"
            src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'mm/dd/yyyy',
                startDate: '-3d',
                autoclose: true
            });
        });

    </script>

</head>
<body>
{% load i18n %}
<section class="content">
    {% include "header/header.html" %}

    <div class="row" style="margin: 3px 15px -5px 0">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="content-wrapper">
                <input id="pac-input" class="controls" type="text" placeholder="{{ locale.search_places }}">
                <div id="map"></div>
            </div>

        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="box social-stats">
                        <div class="title-bar">
                            <i class="fa fa-users"></i>{{ locale.social_found }}
                        </div>
                        <ul>
                            <li><i class="fa fa-instagram"></i> Instagram <span id="count_instagram">0</span>
                            </li>
                            <li><i class="fa fa-twitter"></i> Tweets <span id="count_tw">0</span></li>
                            <li><i class="fa fa-vk"></i> VK <span id="count_vk">0</span></li>
                            <li><i class="fa fa-foursquare"></i> Foursquare <span id="count_four">0</span></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="well">
                <div class="row" style="margin-top: 15px;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="input-group date" data-provide="datepicker">
                            <input placeholder="{{ locale.placeholder_start_date }}" type="text" class="form-control" id="datestart">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 15px;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="input-group date" data-provide="datepicker">
                            <input placeholder="{{ locale.placeholder_end_date }}" type="text" class="form-control" id="dateend">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><li class=" glyphicon glyphicon-info-sign"></li></span>
                        <input type="text" class="form-control" placeholder="{{ locale.plceholder_q }}" aria-describedby="basic-addon1" id="q">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="fuzz"></div>
    <div id="bar"></div>
</section>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap&libraries=places">
</script>

</body>
</html>