{% load staticfiles %}
<title>Visual search jobs and people by geo location</title>
<meta name="Keywords" content="Search, Jobs, visual, social, work, networks">
<meta name="Description" content="Visual search jobs and social media">
<meta name="author" content="Kovganko">
<meta http-equiv="content-language" content="en">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<script type="text/javascript" src="{% static "js/jquery-1.12.0.js" %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}"/>
<link rel="stylesheet" type="text/css" media="screen" href="{% static "css/fonts.css" %}">
<link rel="stylesheet" type="text/css" media="screen" href="{% static "css/styles-less.css" %}">
<link rel="stylesheet" type="text/css" media="screen" href="{% static "css/navigation.css" %}">
<link rel="stylesheet" type="text/css" media="screen" href="{% static "css/navigation-inverse.css" %}">
<link rel="stylesheet" type="text/css" media="screen" href="{% static "css/navigation-style.css" %}">
<link rel="stylesheet" type="text/css" media="screen" href="{% static "css/fileinput.min.css" %}">
<link rel="stylesheet" type="text/css" media="screen" href="{% static "css/star-rating.min.css" %}">
<script type="text/javascript" src="{% static "js/skyfinder.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/main.js" %}"></script>
<script type="text/javascript" src="{% static "js/star-rating.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/fileinput.min.js" %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script type="text/javascript" src="{% static "js/jssor.slider.mini.js" %}"></script>
<script type="text/javascript" src="{% static "js/maps.js" %}"></script>
