<!DOCTYPE html>
<html>
<head>
    <meta name="msvalidate.01" content="6709D364D135BA2D316DA3D614EBCD59"/>
    <meta name="google-site-verification"
          content="6P_bLPMIxXs99n9wNb_ibixIwkaVvBMiZUaIgDUdSXA"/>
    {% load staticfiles %}
    {% include "resources.html" %}


</head>
<body>
<div style="position: relative; top:40%;margin-left: 30%;margin-right: 40%;margin-top: 20%;">
    <form class="form-horizontal" role="form" id="form_reset" method="post"
          action="reset_password">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ username }}" id="username">
        <div class="form-group">
            <label for="password"
                   class="col-sm-4 control-label">Password:</label>
            <div class="col-sm-8"><input type="password" name="password"
                                         id="password"></div>
        </div>
        <div class="form-group">
            <label for="repassword" class="col-sm-4 control-label">Repeat
                Password:</label>
            <div class="col-sm-8"><input type="password" name="repassword"
                                         id="repassword"></div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button class="btn btn-default pull-right" type="submit">
                    <i class="fa fa-unlock-alt"></i> Reset
                </button>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    jQuery(document).ready(function () {
        $('#form_reset').bind('submit', function (e) {
            if ($('#password').val() != $('#repassword').val()) {
                if ($('#error_reset').length > 0) {
                    return false
                } else {
                    $('#username').before('<div class="alert alert-danger" role="alert" id="error_reset">Passwords do not match</div>');
                    return false
                }
            }
            else {
                $('#form_reset').submit();
            }
        });

    });
</script>