<div class="container sch" id=nav_wrapper style="position: relative;">
    <nav class="navbar navbar-inverse menu-lg" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand navbar-left" href="index.html"><i class="fa fa-home"></i> <span class="reverse">SkyFinder</span></a>
            </div>
            <div class="collapse navbar-collapse" id="MegaNavbarID">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown-full no-shadow no-border-radius">
                        <a data-toggle="dropdown" href="javascript:void(0);" class="dropdown-toggle"><i
                                class="fa fa-money"></i> <span
                                class="hidden-sm hidden-md reverse">Works</span><span class="caret"></span></a>

                        <div class="dropdown-menu row">
                            <ul class="row">
                                <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                    <a href="javascript:void(0);"></a>
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <img class="embed-responsive-item" src="{% static "img/qa.jpg" %}"/>
                                    </div>
                                    <span class="desc">Quality Assurance</span>
                                </li>
                                <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                    <a href="javascript:void(0);"></a>
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <img class="embed-responsive-item"
                                             src="{% static "img/software_enginner.jpg" %}"/>
                                    </div>
                                    <span class="desc">Software Engineer</span>
                                </li>
                                <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                    <a href="javascript:void(0);"></a>
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <img class="embed-responsive-item" src="{% static "img/project_manager.jpg" %}"
                                             alt="bootstrap megamenu"/>
                                    </div>
                                    <span class="desc">Project Manager</span>
                                </li>
                                <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                    <a href="javascript:void(0);"></a>
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <img class="embed-responsive-item" src="{% static "img/data-analyst.jpg" %}"
                                             alt="bootstrap mega menu"/>
                                    </div>
                                    <span class="desc">Data Analyst</span>
                                </li>
                            </ul>
                            <br/>
                            <ul class="row">
                                <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <a href="javascript:void(0);"><img class="embed-responsive-item"
                                                                           src="{% static "img/devops.jpg" %}"/></a>
                                    </div>
                                    <a href="javascript:void(0);"><span class="desc">DevOps</span></a>
                                </li>
                                <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <a href="javascript:void(0);"><img class="embed-responsive-item"
                                                                           src="{% static "img/dba.jpg" %}"/></a>
                                    </div>
                                    <a href="javascript:void(0);"><span class="desc">DBA</span></a>
                                </li>
                                <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <a href="javascript:void(0);"><img class="embed-responsive-item"
                                                                           src="{% static "img/designer.jpg" %}"/></a>
                                    </div>
                                    <a href="javascript:void(0);"><span class="desc">Designer</span></a>
                                </li>
                                <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <a href="javascript:void(0);"><img class="embed-responsive-item"
                                                                           src="{% static "img/hr.jpeg" %}"/></a>
                                    </div>
                                    <a href="javascript:void(0);"><span class="desc">HR</span></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="divider">
                    </li>
                    <li class="dropdown-short">
                        <a data-toggle="dropdown" href="javascript:void(0);" class="dropdown-toggle">
                            <i class="fa fa-facebook"></i>
                            <span class="hidden-sm hidden-md reverse">Social</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href=""><i class="fa fa-instagram"></i>Instagram</a></li>
                            <li><a href=""><i class="fa fa-foursquare"></i>Foursquare</a></li>
                            <li><a href=""><i class="fa fa-vk"></i>Vkontakte</a></li>
                            <li><a href=""><i class="fa fa-twitter"></i>Twitter</a></li>
                            <li class="disabled">
                                <a href="javascript:void(0);"><i class="fa fa-facebook-f"></i>Facebook<span
                                        class="desc">Not available now</span></a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="">All</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-full no-border-radius no-shadow">
                        <a data-toggle="dropdown" href="javascript:void(0);" class="dropdown-toggle">
                            <i class="fa fa-leaf"></i>
                            <span class="hidden-sm hidden-md reverse">About</span>
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu no-padding HingeUpToDown">
                            <ul>
                                <li class="col-sm-12 dropdown-header text-center">
                                    <h4 style="color: rgb(44, 206, 255);white-space: normal;">
                                        <i class="fa fa-refresh fa-spin"></i> SkyFinder - it's a project for quick
                                        visual search
                                    </h4>
                                </li>

                                <li class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="row">
                                        <div class="embed-responsive embed-responsive-4by3">
                                            <iframe class="embed-responsive-item" frameborder="0" scrolling="no"
                                                    marginheight="0" marginwidth="0"
                                                    src="https://maps.google.ch/maps?f=q&amp;source=s_q&amp;hl=ua&amp;geocode=&amp;q=Kiev&amp;aq=&amp;sll=50.4489241,30.5267447&amp;sspn=3.379772,8.453979&amp;ie=UTF8&amp;hq=&amp;hnear=Kiev&amp;t=m&amp;z=12&amp;ll=50.4489241,30.5267447&amp;output=embed&amp;iwloc=near"></iframe>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 ">
                                            <h3>
                                                <i class="fa fa-envelope"></i> Contacts
                                            </h3>
                                            <div class="row  hidden-sm">

                                                <address class="col-xs-12 col-md-6">
                                                    <strong>SkyFinder</strong><br/> 50 North street<br/> Kiev,
                                                    04213<br/>
                                                </address>
                                                <address class="col-xs-12 col-md-6">
                                                    <abbr title="Mobile Phone">Phone:</abbr> (063) 138-7488<br/>
                                                    <strong class="hidden-md">Mail:</strong> <a
                                                        href="mailto:#">mail@skyfinder.me</a>
                                                </address>
                                            </div>
                                        </div>
                                        <form role="form">
                                            <div class="col-xs-6 col-md-6 ">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="inputName"
                                                           name="inputName"/>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-6 ">
                                                <div class="form-group">
                                                    <input type="password" class="form-control" id="inputEmail"
                                                           name="inputEmail"/>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-12 hidden-md  hidden-sm">
                                                <div class="form-group">
                                                    <input type="password" class="form-control"
                                                           id="inputSubject" name="inputSubject"/>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-12 ">
                                                <div class="form-group">
                                                    <textarea class="form-control" id="inputMessage" name="inputMessage"
                                                              rows="4"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-offset-3 col-sm-9">

                                                <button class="btn btn-default pull-right" type="submit">
                                                    <i class="fa fa-chevron-circle-right"></i> Submit
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    <li class="divider">
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form-expanded navbar-form navbar-left visible-lg-block visible-md-block visible-xs-block"
                          role="search">
                        <div class="input-group">
                            <input class="form-control" name="query"/> <span class="input-group-btn"><button
                                class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button></span>
                        </div>
                    </form>
                    <li class="dropdown-grid visible-sm-block">
                        <a data-toggle="dropdown" href="javascript:void(0);" class="dropdown-toggle"><i
                                class="fa fa-search"></i></a>
                        <div class="dropdown-grid-wrapper" role="menu">
                            <ul class="dropdown-menu col-sm-6">
                                <li>
                                    <form class="no-margin">
                                        <div class="input-group">
                                            <input class="form-control"/> <span class="input-group-btn"><button
                                                class="btn btn-default" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button></span>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="dropdown-grid">
                        <a data-toggle="dropdown" href="javascript:void(0);" class="dropdown-toggle" id="ddaccount"><i
                                class="fa fa-lock"></i> <span
                                class="hidden-sm hidden-md hidden-lg reverse">Account</span><span class="caret"></span></a>
                        <div class="dropdown-grid-wrapper" id="account">
                            <ul class="dropdown-menu col-xs-12 col-sm-10 col-md-8 col-lg-7">
                                <li>
                                    <div id="carousel-example-account" class="carousel">
                                        <div class="row">
                                            <div class="col-lg-8 col-md-8 col-sm-8">
                                                <div class="carousel-inner">
                                                    <div class="item active">
                                                        <h3 class="text-right">
                                                            <i class="fa fa-lock"></i> Sign in
                                                        </h3><br/>
                                                        <form class="form-horizontal" role="form">
                                                            <div class="form-group">

                                                                <label for="inputEmail3" class="col-sm-3 control-label">
                                                                    Email
                                                                </label>
                                                                <div class="col-sm-9">
                                                                    <input class="input-sm form-control"
                                                                           id="inputEmail3"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">

                                                                <label for="inputPassword3"
                                                                       class="col-sm-3 control-label">
                                                                    Password
                                                                </label>
                                                                <div class="col-sm-9">
                                                                    <input type="password" class="input-sm form-control"
                                                                           id="inputPassword3"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-sm-offset-3 col-sm-9">

                                                                    <button class="btn btn-default pull-right"
                                                                            type="submit">
                                                                        <i class="fa fa-unlock-alt"></i> Sign in
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        <p class="text-primary" data-target="#carousel-example-account">
                                                            <small>Don’t have a account? Sign up for FREE</small>
                                                        </p>
                                                        <p class="text-primary" data-target="#carousel-example-account">
                                                            <small>Lost Your Username?</small>
                                                        </p>
                                                        <p class="text-primary" data-target="#carousel-example-account">
                                                            <small>Lost Your Password?</small>
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <h3 class="text-right">
                                                            <i class="fa fa-user"></i> Create new account
                                                        </h3><br/>
                                                        <form class="form-horizontal" role="form">
                                                            <div class="form-group">

                                                                <label for="inputEmail3" class="col-sm-5 control-label">
                                                                    Email
                                                                </label>
                                                                <div class="col-sm-7">
                                                                    <input class="input-sm form-control"
                                                                           id="inputEmail3"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">

                                                                <label for="inputPassword3"
                                                                       class="col-sm-5 control-label">
                                                                    Password
                                                                </label>
                                                                <div class="col-sm-7">
                                                                    <input type="password" class="input-sm form-control"
                                                                           id="inputPassword3"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">

                                                                <label for="inputPassword3"
                                                                       class="col-sm-5 control-label">
                                                                    Confirm password
                                                                </label>
                                                                <div class="col-sm-7">
                                                                    <input type="password" class="input-sm form-control"
                                                                           id="inputPassword3"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <div class="checkbox">

                                                                        <label>
                                                                            <input type="checkbox"/>
                                                                            <small>I have read and agree to our<a
                                                                                    href="javascript:void(0);">Terms of
                                                                                use</a> and <a
                                                                                    href="javascript:void(0);">Privacy
                                                                                Policy</a>.
                                                                            </small>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-sm-offset-5 col-sm-7">

                                                                    <button class="btn btn-default pull-right"
                                                                            type="submit">
                                                                        <i class="fa fa-save"></i> Create an account
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="item">
                                                        <h3 class="text-right">
                                                            <i class="fa fa-warning"></i> Forgotten your Username?
                                                        </h3><br/>
                                                        <p class="text-justify">
                                                            Enter your email address, you signed up with (or entered in
                                                            your settings), and we'll send you an email with your
                                                            username.
                                                        </p><br/>
                                                        <form id="lost_password" method="post" class="form" role="form">
                                                            <div class="input-group">
                                                                <input class="form-control"/> <span
                                                                    class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-envelope"></i> Send it to me!
                </button></span>
                                                            </div>
                                                        </form>
                                                        <br/><br/>
                                                        <p class="text-justify">
                                                            <small><i>If you've forgotten your username and password,
                                                                you must first retrieve your username (using your email
                                                                address) and then reset your password using those
                                                                details.</i></small>
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <h3 class="text-right">
                                                            <i class="fa fa-warning"></i> Forgot your password?
                                                        </h3><br/>
                                                        <p class="text-justify">
                                                            Enter your username, and we'll send you an email with a link
                                                            and instructions to reset your password. If you signed up
                                                            without an email address (or removed it from settings),
                                                            visit the FAQ.
                                                        </p><br/>
                                                        <form id="lost_password" method="post" class="form" role="form">
                                                            <div class="input-group">
                                                                <input class="form-control"/> <span
                                                                    class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-envelope"></i> Send it to me!
                </button></span>
                                                            </div>
                                                        </form>
                                                        <br/>
                                                        <p class="text-justify">
                                                            <small><i>If you've forgotten your username and password,
                                                                you must first <span class="text-primary"
                                                                                     data-target="#carousel-example-account">retrieve your username</span>
                                                                (using your email address) and then reset your password
                                                                using those details.</i></small>
                                                        </p>
                                                    </div>
                                                    <div class="item">
                                                        <h3 class="text-right">
                                                            <i class="fa fa-envelope"></i> Subscribe to our mailing list
                                                        </h3><br/>
                                                        <p class="text-justify">
                                                            <i>
                                                                <small>Get the freebies from us and latest updates about
                                                                    YourApp! We hate spam as much as you do, trust us we
                                                                    won't give your details away to other people.
                                                                </small>
                                                            </i>
                                                        </p>
                                                        <br/>
                                                        <form class="form-horizontal" role="form">
                                                            <div class="form-group">

                                                                <label for="inputEmail" class="col-sm-5 control-label">
                                                                    Your email address
                                                                </label>
                                                                <div class="col-sm-7">
                                                                    <input class="input-sm form-control" id="inputEmail"
                                                                           name="inputEmail"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">

                                                                <label for="inputName" class="col-sm-5 control-label">
                                                                    Your Name
                                                                </label>
                                                                <div class="col-sm-7">
                                                                    <input class="input-sm form-control" id="inputName"
                                                                           name="inputName"/>
                                                                </div>
                                                            </div>
                                                            <br/>
                                                            <div class="form-group">
                                                                <div class="col-sm-offset-5 col-sm-7">

                                                                    <button class="btn btn-default pull-right"
                                                                            type="submit">
                                                                        <i class="fa fa-envelope-o"></i> Subscribe
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="item">
                                                        <h3 class="text-right">
                                                            <i class="fa fa-envelope"></i> Contact us
                                                        </h3><br/>
                                                        <div class="row">
                                                            <form role="form">
                                                                <div class="col-xs-6 col-md-6 ">
                                                                    <div class="form-group">
                                                                        <input class="input-sm form-control"
                                                                               id="inputName" name="inputName"/>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-6 col-md-6 ">
                                                                    <div class="form-group">
                                                                        <input type="password"
                                                                               class="input-sm form-control"
                                                                               id="inputEmail" name="inputEmail"/>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-md-12 ">
                                                                    <div class="form-group">
                                                                        <input type="password"
                                                                               class="input-sm form-control"
                                                                               id="inputSubject" name="inputSubject"/>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-md-12 ">
                                                                    <div class="form-group">
                 <textarea class="form-control" id="inputMessage" name="inputMessage" rows="3">
                 </textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-sm-offset-3 col-sm-9">

                                                                    <button class="btn btn-default pull-right"
                                                                            type="submit">
                                                                        <i class="fa fa-chevron-circle-right"></i>
                                                                        Submit
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                <ol class="carousel-indicators navbar-carousel-indicators">
                                                    <li data-target="#carousel-example-account" class="active">
                                                        <a href="javascript:void(0);">Sign In<span class="desc reverse">Already have an account? Log in</span></a>
                                                    </li>
                                                    <li data-target="#carousel-example-account">
                                                        <a href="javascript:void(0);">Sign Up<span class="desc reverse">Create new account</span></a>
                                                    </li>
                                                    <li data-target="#carousel-example-account">
                                                        <a href="javascript:void(0);">Forgot username?<span
                                                                class="desc reverse">No problem, we can remind you by email</span></a>
                                                    </li>
                                                    <li data-target="#carousel-example-account">
                                                        <a href="javascript:void(0);">Forgot password?<span
                                                                class="desc reverse">Don't worry, it happens!</span></a>
                                                    </li>
                                                    <li data-target="#carousel-example-account">
                                                        <a href="javascript:void(0);">Subscribe<span
                                                                class="desc reverse">Subscribe to our Newsletters</span></a>
                                                    </li>
                                                    <li data-target="#carousel-example-account">
                                                        <a href="javascript:void(0);">Contact us<span
                                                                class="desc reverse">If you have any questions ...</span></a>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
