<!DOCTYPE html>
<html>
<head>
    <meta name="msvalidate.01" content="6709D364D135BA2D316DA3D614EBCD59"/>
    <meta name="google-site-verification" content="6P_bLPMIxXs99n9wNb_ibixIwkaVvBMiZUaIgDUdSXA"/>
    {% load staticfiles %}
    {% include "resources.html" %}


</head>
<body>


<section class="content">
    {% include "header/header.html" %}

    <!-- Row Start -->
    <div class="row" style="margin: 3px 15px -5px 0">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="content-wrapper">
                <div id="map"></div>
            </div>

        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="box social-stats">
                        <div class="title-bar" style="position: relative;padding-left: 20px;">{{ locale.work_stat }}</div>
                        <ul>
                            <li><i class="fa fa-cc-jcb"></i> {{ locale.count }}: <span id="work_count">0</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fuzz"></div>
    <div id="bar"></div>
</section>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=workMap"></script>
<script>
    $(document).ready(function () {
        var query;
        var param = window.location.search.split('&');
        if (param.length > 1) {
            if (param[0].startsWith('q')) {
                query = param[0].split('=')[0];
            }
            else {
                query = param[1].split('=')[0];
            }
        }
        else {
            query = param[0].split('=')[1];
        }
        search_job(query)
    });
</script>
</body>
</html>